br.clear {
	display: none;
}

#content {
	padding-bottom: 0;
}

#footer {
	padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#statscontainer {
	padding: 10px;
	background-color: #EDF2F6;
	box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, .2);
}

.column-container {
	box-sizing: border-box;
	width: 100%;
}

#container {
	min-width: 500px;
}

#content {
	padding-left: 0;
	padding-right: 0;
}

[class*='col-'] {
	padding: 10px;
	float: left;
	min-height: 1px; 
	box-sizing: border-box;
}
.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

.col-1 {
	width: 16.66%;
}
.col-2 {
	width: 33.33%;
}
.col-3 {
	width: 50%;
}
.col-4 {
	width: 66.664%;
}
.col-5 {
	width: 83.33%;
}
.col-6 {
	width: 100%;
}

@media all and (max-width:1450px){
	.col-1{ width: 33.33%;  }
	.col-2{ width: 50%;     }
	.col-3{ width: 100%;  }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }

	.row .col-2:last-of-type{
		width: 100%; 
	}

	.row .col-5 ~ .col-1{
		width: 100%; 
	}
}
@media all and (max-width:850px){
	.col-1{ width: 50%;     }
	.col-2{ width: 100%;    }
	.col-3{ width: 100%;    }
	.col-4{ width: 100%;    }
	.col-5{ width: 100%;    }
	.col-6{ width: 100%;    }
}

.stat {
	padding-left: 10px;
	font-size: 2em;
}

.panel {
	float: left;

	padding: 10px;
	width: 100%;

	background-color: #F5F5F5;

	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

	overflow: hidden;
}

.panel table {
	width: 100%;
}

#topline .panel {
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	position:relative;
}
#topline .panel .icon{
	color: #F0F0F0;
	font-size: 2em;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	display: block;
	color: rgba(255, 255, 255, .8);
}
#topline .panel .icon-container{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 70px;
}
.icon-color-1 {
	background-color: #E74C3C;
}
.icon-color-2 {
	background-color: #3498DB;
}
.icon-color-3 {
	background-color: #1ABC9C;
}

.panel h2:first-child {
	margin: -10px -10px 10px -10px; /* Go to the sides */
}

.panel h2 {
	color: #F0F0F0;
	background-color: #6F7E95;
	padding: 20px;
	margin-bottom: 10px;
}

#topline .panel h2 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
	padding-top: 0;

	background-color: inherit;
	color: #9D9D9D;

	font-size: 1.1em;
	font-weight: normal;
}
