.searcher {
	overflow: hidden;
	background-color: #79AEC8;
}

.searcher .titlebar {
	background-color: #417690;
	font-weight: 300;
}

.searcher .titlebar h1 {
	margin: 0;

	line-height: 50px;
	vertical-align: center;

	color: #F5DD5D;

    font-size: 24px;
	text-align: center;
}

.searcher .content {
	padding: 10px;
	margin: 0 auto;
}

.grouped {
	width: 100%;
	display:flex;
	position: relative;
}

#content * {
	box-sizing: border-box;
}

.group-label {
	height: 36px;
	display: inline-block;
	line-height: 36px;
	background: #F2F1EF;
	width: 40px;
	text-align: center;
	flex: 0 0 2.75em;
}

.grouped input[type=text]  {
	height: 36px;
	line-height: 36px;

	border: 1px solid #CCCCCC;
	padding: .5em .6em;
	box-shadow: inset 0 1px 3px #DDDDDD;
	box-sizing: border-box;

	flex: 1 0 8em;
}

.grouped input[type=text]:focus {
	border: 1px solid #22A7F0;
}

.content input {
	border-radius: 0;
}

.grouped input[type=submit]  {
	height: 36px;
	margin: 0;

	background-color: #22A7F0;
	flex: 0 0 auto;
}

.grouped input[type=submit]:hover {
	box-shadow: 0px 0px 3px 0px #5D8CAE;
}

.grouped input[type=submit]:active {
	background-color: #5D8CAE;
}

.grouped > :first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.grouped > :last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.grouped-vertical {
	width: 70%;
    margin: auto;
}

.grouped-vertical > :first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.grouped-vertical > :last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.result {
    width: 75%;
    margin: auto;

    font-size: 25pt;
	width: 100%;
	border-bottom: 1px solid  #D2D7D3;
	border-left: 1px solid  #D2D7D3;
	border-right: 1px solid  #D2D7D3;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
}

.result .status {
	background-color: #F2F1EF;
	display: inline;
	margin: 0;
	padding: 20px;
	margin-right: 10px;
	border-right: 1 px solid #F0F0EF;
}

.sucess {
	color: #26C281;
}

.failure {
	color: #DC3023;
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.top {
	margin-top: 20px;
}

.rounded {
	border-radius: 10px;
}

.fember-link {
	margin-left: 10px;
	display: block;
	margin-bottom: 10px;
}