body {
       color: black;
       background-color: white;
/*       text-align: center;*/
}

h1 { color: red }

/*div { border-color: red;
      border-style: solid;
      border-width: thin;
}*/

ol {
    font-weight: bold;
    margin-top: 0px;
}

ol span {
    font-weight: normal;
}

table h2, table h3 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.center-around {
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}

.center-around span {
    min-width: 400px; display: inline-block; text-align: left;
}
.center-around span:first-child {
    text-align: right;
}

.center {
    display: table;
    margin: 0 auto;
}

.footer {
    margin-top: 35px;
    text-align: center;
}

.the-pre-error {
    display: inline;
}

.the-error {
    color: #FF0000;
    display: inline;
}

.the-error-pointer {
    color: #FF0000;
}

.error-container * {
    padding: 0;
    margin: 0;
}

.ebnf-container {
    margin-top: 20px;
}

.day_hidden {
  display: none !important;
  fill: none !important;
}

#advent_candle {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 75%;
  max-width: 400px;
}

.flame-main {
  -webkit-animation-name: flameWobble;
  animation-name: flameWobble;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.flame-main.one {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
.flame-main.two {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.flame-main.three {
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.flame-main.four {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.flame-main.five {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
@keyframes flameWobble {
  50% {
      transform: scale(1,1) translate(0, -2px) rotate(.2deg);
  }
}

@-webkit-keyframes flameWobble {
  50% {
      -webkit-transform: scale(1,1) translate(0, -2px) rotate(.2deg);
  }
}
