:root {
  color-scheme: light;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 3px 4vw;
  column-gap: 4vw;
  text-align: center;
  place-items: center;
  border-bottom: solid grey 1.5px;

  & .left {
    justify-self: start;
  }
  & .right {
    justify-self: end;
  }
}

#base-content {
  flex: 1;
}

main {
  padding: 1em;

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  &.center {
    text-align: center;

    & table {
      text-align: initial;
    }
    & > table {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

h1 { color: red }

/*div { border-color: red;
      border-style: solid;
      border-width: thin;
}*/

ol {
    font-weight: bold;
    margin-top: 0px;
}

ol span {
    font-weight: normal;
}

button {
  cursor: pointer;

    &.linkalike {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
    color: LinkText;
    &:active {
      color: ActiveText;
    }

    & * {
      text-decoration: underline;
    }
  }
}

.external-link-popover {
  font-size: 1.5em;
  padding: 1em;

  & p {
    margin: 0;
  }
  & button {
    position: absolute;
    top: 0;
    right: 0;
    padding: .1em;
    background: none;
    border: none;

    & svg {
      width: 2.2em;
      height: 2.2em;
    }
  }
  & img {
    width: 100vw;
    max-width: 40vmin;
    max-height: 40vmin;
  }
}

.horizontal-table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

table.default {
  border: 1px outset black;

  & td,
  & th {
    border: 1px inset black;
    padding: 2px;
  }
  & td.price {
    text-align: right;
  }
}

table h2, table h3 {
    margin-top: 6px;
    margin-bottom: 6px;
}

#product-overview {
  & button {
    text-align: left;
  }
  & span {
    display: inline-block;
  }
  & .note-box  {
    padding: 2px 4px 2px 4px;
    border-radius: 8px;
  }
}

.center-around {
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}

.center-around span {
    min-width: 400px; display: inline-block; text-align: left;
}
.center-around span:first-child {
    text-align: right;
}

.center {
    display: table;
    margin: 0 auto;
}

.footer {
    margin-top: 35px;
    text-align: center;
}

.the-pre-error {
    display: inline;
}

.the-error {
    color: #FF0000;
    display: inline;
}

.the-error-pointer {
    color: #FF0000;
}

.error-container * {
    padding: 0;
    margin: 0;
}

.ebnf-container {
    margin-top: 20px;
}

.day_hidden {
  display: none !important;
  fill: none !important;
}

/* Ensures that bats/"flakes" don't interfere with qr-code scanning */
.qr-code {
    position: relative;
    z-index: 2147483647;
    image-rendering: pixelated;
}

footer {
  text-align: center;
  border-top: solid grey 1.5px;

  #footer-notes {
    & li {
      display: inline;
    
    & ~ li::before {
        content: '• ';
      }
    }
  }
}

#theme-content {
  display: contents;
}

@keyframes blink-frame {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-frame 1s linear infinite;
  animation-duration: 1s;
  animation-iteration-count: 3;
  color: red;
}

