body {
       color: black;
       background-color: white;
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 3px 4vw;
  column-gap: 4vw;
  text-align: center;
  place-items: center;

  & .left {
    justify-self: start;
  }
  & .right {
    justify-self: end;
  }
}

main {
  padding: 1em;

  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  &.center {
    text-align: center;

    & table {
      text-align: initial;
    }
    & > table {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

h1 { color: red }

/*div { border-color: red;
      border-style: solid;
      border-width: thin;
}*/

ol {
    font-weight: bold;
    margin-top: 0px;
}

ol span {
    font-weight: normal;
}

.horizontal-table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

table.default {
  border: 1px outset black;

  & td,
  & th {
    border: 1px inset black;
    padding: 2px;
  }
  & td.price {
    text-align: right;
  }
}

table h2, table h3 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.center-around {
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}

.center-around span {
    min-width: 400px; display: inline-block; text-align: left;
}
.center-around span:first-child {
    text-align: right;
}

.center {
    display: table;
    margin: 0 auto;
}

.footer {
    margin-top: 35px;
    text-align: center;
}

.the-pre-error {
    display: inline;
}

.the-error {
    color: #FF0000;
    display: inline;
}

.the-error-pointer {
    color: #FF0000;
}

.error-container * {
    padding: 0;
    margin: 0;
}

.ebnf-container {
    margin-top: 20px;
}

.day_hidden {
  display: none !important;
  fill: none !important;
}

#advent_candle {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 75%;
  max-width: 400px;
}

.flame-main {
  animation-name: flameWobble;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 2s;
  animation-delay: .5s;
}
.flame-main.two {
  animation-duration: 1.5s;
  animation-delay: 1s;
}
.flame-main.three {
  animation-duration: 1.05s;
  animation-delay: 1.5s;
}
.flame-main.four {
  animation-duration: 1.6s;
  animation-delay: 2s;
}
.flame-main.five {
  animation-duration: 1.25s;
  animation-delay: 2.5s;
}
@keyframes flameWobble {
  50% {
      transform: scale(1,1) translate(0, -2px) rotate(.2deg);
  }
}

/* Ensures that bats/"flakes" don't interfere with qr-code scanning */
.qr-code {
    position: relative;
    z-index: 2147483647;
    image-rendering: pixelated;
}

@keyframes blink-frame {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-frame 1s linear infinite;
  animation-duration: 1s;
  animation-iteration-count: 3;
  color: red;
}

