body {
       color: black;
       background-color: white;
/*       text-align: center;*/
}

h1 { color: red }

/*div { border-color: red;
      border-style: solid;
      border-width: thin;
}*/

ol {
    font-weight: bold;
    margin-top: 0px;
}

ol span {
    font-weight: normal;
}

table h2, table h3 {
    margin-top: 6px;
    margin-bottom: 6px;
}
