[run]
branch = True
omit =
        .tox/*
        fabfile.py
        manage.py
        setup.py
        */migrations/*
        treo/wsgi.py
        */apps.py
        stregsystem/vipps_api.py
source = .
