.git
.gitignore
.git-blame-black-application
.gitmodules
.gitattributes
__pycache__
*.py[cod]
*$py.class
*.so
.Python
build
develop-eggs
dist
downloads
egg-info
.eggs
lib
lib64
parts
sdist
var
wheels
*.egg
*.egg-info
.installed.cfg
*.env
*.venv
venv
ENV
env
.vscode
.idea
.DS_Store
*.sqlite3
*.db
*.log
media/
static/
!static/.keep
!media/.keep