venv/
/static/

local.cfg
db.sqlite3
*.pyc

.idea/
.tox/
MANIFEST/

.coverage
htmlcov/

# ignore mobilepay api token
stregsystem/management/commands/tokens.json
stregsystem/*-tokens.json
stregsystem/*-tokens.json.bak

# ignore default log file location
stregsystem.log

# nix
.direnv
.envrc
result
/.vscode
