Django==4.1.13 #sha256-lKP0cegzyPEk7not4R6S9jOZHZdeP6W92R6KvWZCYxg=
Pillow==10.3.0 #sha256-nSRV+/RMkUhAx5PomqgtDhdjoUJToAB0NxmuWUaBSy0=
Coverage==7.5.1 #sha256-VN6e86namB96+T6v3k7eGZ4IRs2BnrJ8iOK3EqrpcIw=
pytz==2024.1 #sha256-KilzXqnBi68UtEiEa95aSAMO0mdXhHLYlVzQ50Q6mBI=
freezegun==1.5.1 #sha256-sp3t/NptXo4IPOcbK1QnU61Iz+xEA3s/x5cC4pgKiek=
Django-Select2==8.1.2 #
django-debug-toolbar==4.3.0 #sha256-Cw3d7l6im5y2eFk7wNem12sh13mcto4JGiFINBqA88Q=
requests==2.32.0 #sha256-+lSQMZR0yC7x0sm8RZ02UuOuTvTE690YohFFpHyktrg=
qrcode==7.4.2 #sha256-ndlpRUgn4Sfb2TaWsgdHI55tVA4IKTfJDxSslbMPWEU=
