{% extends "admin/stregsystem/razzia/razzia.html" %}

{% block title %}{{razzia.name}} - Members{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../">Razzia</a>&nbsp;&rsaquo;&nbsp;<a href=".">{{razzia.name}}</a>&nbsp;&rsaquo;&nbsp;Settings</div>{% endblock %}

{% block razzia_content %}
	<p><a href="../{{razzia.pk}}">Back to razzia</a></p>
	<iframe src="../razzia/{{razzia.id}}/change/?_popup=1" width="400px" height="500px"></iframe>
{% endblock %}
