<html>
    <body>
        Hej {{ firstname }}!<br><br>
        Du har anmodet om at få tilsendt en engangskode til at logge ind med din bruger, "{{ username }}", på følgende side {{ redirect_url }}.<br><br>

        Din F-kode er {{ fcode }}. Koden udløber om 5 minutter.

        Hvis du mener der er sket en fejl eller du ikke har anmodet en F-kode, kan du se bort fra denne mail, en Fember kan have indtastet et forkert brugernavn.

        Mvh,<br>
        TREOen<br>
        ====================================== <br><br>
        Hello {{ firstname }}!<br><br>
        TODO: Translate into English

        Best regards,<br>
        TREOen<br>
    </body>
</html>