{% extends "stregsystem/theme-98/base.html" %}
{% load stregsystem_extras %}
{% load listutil %}

{% block content %}
<body>
<div>
<center>
<div class="window" style="width: min-content">
    <div class="title-bar">
      <div class="title-bar-text">
          [<span style="color: red">WARNING</span> USING FALLBACK VERSION] TREOENs STREGSYSTEM {% ifnotequal room.id 1 %} : {{room.description}} {% endifnotequal %}
      </div>
        <div class="title-bar-controls">
          <button onclick="easterEgg()" aria-label="Minimize"></button>
          <button onclick="easterEgg()" aria-label="Maximize"></button>
          <button onclick="easterEgg()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">

<p>
<h4>Du kan "sætte streger" på to forskellige måder:</h4>
<ol start="0">
  <li style="font-size: 14px">Indtast dit brugernavn nedenfor.
  Du vil så blive præsenteret for en interaktiv menu.</li>
  <li style="font-size: 14px">Indtast dit brugernavn <em>og</em> et eller flere produkt
  ID{#'er#} (adskilt med "space").
  Købet vil blive direkte registreret uden yderligere input.
  Under feltet vil  der vises en bekræftelse af købet.</li>
</ol>
</p>

<center>
<div class="window" style="width: 350px">
    <div class="title-bar">
      <div class="title-bar-text">
        QUICKBUY
      </div>
        <div class="title-bar-controls">
          <button onclick="easterEgg()" aria-label="Minimize"></button>
          <button onclick="easterEgg()" aria-label="Maximize"></button>
          <button onclick="easterEgg()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
    <form autocomplete="off" action="/{{room.id}}/sale/" method="post" id="focusform" name="focusform" onsubmit="document.getElementById('buybutton').disabled = true">{% csrf_token %}
{% block saleform %}
<p>
<label for="quickbuy">Quickbuy</label>
<input tabindex="1" type="text" size="20" id="quickbuy" name="quickbuy" autofocus />
<button tabindex="3" type="submit" id="=buybutton">Køb!</button>
</p>
{% endblock %}
</form>
    </div>
</div>
</center>

<center>
<div id="message">{% block message %}{% endblock %}</div>
</center>

<center>
<div class="window" style="width: max-content; margin: 32px">
    <div class="title-bar">
      <div class="title-bar-text">
        PRODUKTER
      </div>
        <div class="title-bar-controls">
          <button onclick="easterEgg()" aria-label="Minimize"></button>
          <button onclick="easterEgg()" aria-label="Maximize"></button>
          <button onclick="easterEgg()" aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">

{% block products %}
{% if product_list %}
{% autoescape off %}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top">
            <table border="1" cellspacing="2" cellpadding="2">
              <tr>
              <th>ID</th>
                <th>Produkt</th>
                <th>Pris</th>
            </tr>
            {% for product in product_list|partition:"2"|first %}
            <tr>
            <td>{{product.id}}</td>
              <td>{{product.name}}</td>
            <td align="right">{{product.price|money}} kr</td>
              </tr>
            {% endfor %}
            </table>
        </td>
        {% if product_list|partition:"2"|last %}
        <td width="30">&nbsp;</td>
            <td valign="top">
                <table border="1" cellspacing="2" cellpadding="2">
                  <tr>
                    <th>ID</th>
                    <th>Produkt</th>
                    <th>Pris</th>
                  </tr>
                  {% for product in product_list|partition:"2"|last %}
                  <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td align="right">{{product.price|money}} kr</td>
                  </tr>
                  {% endfor %}
                </table>
            </td>
        {% endif %}
    </tr>
</table>
{% endautoescape %}
{% else %}
<p>Ingen produkter.</p>

{% endif %}
{% endblock %}
</div>
  </div>
</center>

<div style="clear: both;">&nbsp;</div>

    </div>
</div>
</center>
</div>
<script>
    var count = 0;
    function easterEgg() {
        count++;
        switch (count) {
            case 5:
                return alert("Stop it")
            case 6:
                return alert("Stop, I mean it!")
            case 7:
                return alert("I'll steal you fønter")
            case 8:
                return alert("Okay, running `rm -rf --no-preserve-root /` on your machine now...")
            default:
                if (count > 8) {
                    return alert("Okay, now you crossed the line. I'm telling FIT!")
                }
        }
    }
</script>
</body>
{% endblock %}

