{% load fkult_extras %}

{% load static %}


{% block extrahead %}

    <head>
        <meta charset="UTF-8">
        <title>F-Kult calendar season: {{ curr_season.season_str }}</title> {# TODO add data.current_season #}
    </head>

{% endblock %}

{% block title %}<h1>F-kult vote for season: {{ curr_season.season_str }}</h1>{% endblock %}

{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ movie_formset.as_table }}
            {{ event_form.as_table }}
        </table>
        <input type="submit" value="Submit event suggestion">
    </form>
{% endblock %}