{% extends "admin/base_site.html" %}
{% load static %}
{% load tz %}

{% block title %}MobilePaytool{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="../">Hjem</a></div>{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static '/stregsystem/mobilepaytool.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/stregsystem/select2-stregsystem.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{ formset.media.css }}
    {{ formset.media.js }}
    <script>
        // Count number of member-fields filled at point of invocation
        const prompt = () => confirm('Are you sure you want to submit all matched entries (' + //
            Array.from(document.getElementsByTagName('select')).filter((foo, x, _) => //
                document.getElementsByTagName('select')[x].value !== "").length + //
            ') where member is set?')
    </script>
{% endblock %}

{% block content %}
    {% load static %}
    {% load stregsystem_extras %}

    <div id="content-main">
        <div id="wrapper">
            <div id="mobilepaytool-description">
                <h1>{% block tool_name %}{% endblock %}</h1>
                {% block tool_description %}{% endblock %}
                <p>Clicking <code>Submit all</code> will process all entries which aren't <code>Unset</code>.</p>
                <p><i>Protip: A good workflow is checking that prefilled rows are correct, clicking 'Submit matched
                    entries', then manually going through any remaining entries.</i></p>
                <br>
                <p>If you need any help on how to use this tool, please contact <a
                        href="mailto:treo@fklub.dk">treo@fklub.dk</a> and for any bugs or suggestions <a
                        href="mailto:fit@fklub.dk">fit@fklub.dk</a> or submit them directly at <a
                        href="https://github.com/f-klubben/stregsystemet/issues">f-klubben/stregsystemet</a>.</p>
            </div>
            <div id="mobilepay-import">
                {% block tool_actions %}{% endblock %}
            </div>
        </div>
        <br>
        <hr style="height: 3px">
        <br>
        <center>
            {% if error_count or error_transaction_ids %}
                <h2 style="color:red">
                    Error! {{ error_count }} of the rows you are trying to submit, has already been processed. <br>
                    The view has been updated and none of your changes has been applied. The inconsistent MobilePay transaction_ids are:
                    <ul>
                        {% for id in error_transaction_ids %}
                            <li>{{ id }}</li>
                        {% endfor %}
                    </ul>
                </h2>
            {% endif %}

            {% if not formset.forms and submitted_count %}
                <h2> No more entries needs processing. Submitted {{ submitted_count }} entries </h2>
            {% elif not formset.forms %}
                <h2> No entries needs processing</h2>
            {% elif submitted_count %}
                <h2 style="padding-bottom: 20px">Submitted {{ submitted_count }} entries</h2>
            {% endif %}
            <form method="post" class="js-formset"> {% csrf_token %}
                {{ formset.management_form }}
                {{ formset.non_form_errors.as_ul }}
                <table id="formset" class="form">
                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}
                        <tr class="js-row {% cycle row1 row2 %}">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}

                                    {#  Modify non-editable fields for printing only and hide real widgets #}
                                    {% if field.field.widget.attrs.readonly %}
                                        {% if field.name == "amount" or field.name == "due" %}
                                            {{ field.value|money }} DKK
                                        {% elif field.field.widget.input_type == "select" %}
                                            {{ field }}
                                        {% else %}
                                            {{ field.value }}
                                        {% endif %}
                                        <span class="hidden">{{ field }}</span>
                                    {% elif field.name == "status" %}
                                        {% for radio in form.status %}
                                            {{ radio }}
                                        {% endfor %}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <hr style="height: 3px">
                <br>
                <input type="submit" class="submit-button" id="submit-matched-button" name="action"
                       onclick="return prompt()"
                       value="Submit matched entries"/>
                <span style="color: white">fuck css</span>
                <input type="submit" class="submit-button" name="action" value="Submit all"/>
            </form>
        </center>
    </div>

{% endblock %}
