{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}MobilePaytool{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="../">Hjem</a></div>{% endblock %}

{% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{ formset.media.css }}
    {{ formset.media.js }}

{% endblock %}

{% block content %}
    {% load admin_static %}

    <div id="content-main">
        <h1>MobilePaytool</h1>
        <p>Displays a list of unprocessed MobilePay transactions for easier processing of payments.</p>
        <ul>
            <li><p>If member is prefilled, then the user wrote their username correctly in the MobilePay comment.
                To submit this payment to the user, check the 'approved' box in the appropriate row.</p></li>
            <li><p>If member is not prefilled, then pick the appropriate user in the member column and check the
                'approved'
                box. </p></li>
            <li><p>If you know a transaction has already been submitted through the old procedure, then check the
                'ignored' box and pick the appropriate user in the appropriate row. This ensures that the transaction
                will be ignored.</p></li>
            <li><p>Once you submit the payments, all rows that are checked in the 'approved' box, will be processed and
                payment
                sent to the appropriate user.</p></li>
        </ul>
        {% if not formset.forms %}
            <h2> No MobilePay transactions needs processing</h2>
        {% endif %}
        <form method="post"> {% csrf_token %}
            {{ formset.management_form }}
            {{ formset.non_form_errors.as_ul }}
            <table id="formset" class="form">
                {% for form in formset.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %}">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <br>
            <hr style="height: 3px">
            <br>

            <input type="submit" value="Submit payments"/>
        </form>
    </div>
{% endblock %}
