{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Payments{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="../">Hjem</a></div>{% endblock %}

{% block extrahead %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static '/stregsystem/batch.css' %}" /> -->
{% endblock %}

{% block content %}
    {% load admin_static %}

    <div id="content-main">
        <h1>Paytool</h1>
        <h2>Last action: {{ status }}</h2>
        {% for payment in mbpayment %}
            {{ payment }} <br>
        {% endfor %}

        <br><hr style="height: 3px"><br>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <h1>Upload MobilePay CSV of payments</h1>
            <p><i>Note, existing MobilePay transactions are ignored</i></p>
            <input type="file" name="csv_file" id="csv_file" accept="text/csv"/>
            <input type="submit" value="Submit MobilePay CSV"/>
        </form>


    </div>

{% endblock %}
