{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script type="text/javascript">
            var video;
            function start() {
                video = document.getElementById("vid");
                video.play();
            }
        </script>
        <style type="text/css">
            #vid {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
            body, html {
                text-align: center;
                padding: 0;
                margin: 0;
                background: black;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <video id="vid" loop>
            <source src="{{object.video.url}}" type="video/mp4">
        </video>
    </body>
</html>