{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>F-Klubben - kiosk mode</title>

    <link href="{% static "kiosk/kiosk.css" %}" rel="stylesheet">

    <script>
     setTimeout(function(){ location = ''; }, 10000);
    </script>
  </head>

  <body>
    <div id="element" style="background-image: url({{ MEDIA_URL }}{{ item.image.url }});"></div>
  </body>
</html>
