{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>F-Klubben</title>

    <link href="{% static "kiosk/kiosk.css" %}" rel="stylesheet">

    <script>
    function updateKiosk(){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                var element = document.querySelector("#dummy");
                element.style.backgroundImage = 'url(' + xmlHttp.responseText + ')';
            }
        }
        xmlHttp.open("GET", "/kiosk/random", true);
        xmlHttp.send(null);
    }
  
    setInterval("updateKiosk()", 10000);
    updateKiosk();
    </script>
</head>

<body>
    <div id="dummy">

    </div>
</body>

</html>