{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>F-Klubben</title>

    <link href="{% static "kiosk/kiosk.css" %}" rel="stylesheet">
</head>

<body>
    <img class="dummy front" />
    <img class="dummy" />

    <script>
    var queue = [].slice.call(document.querySelectorAll(".dummy"));
    var front = queue.shift();

    function swap(tag) {
        //Flip in the DOM

        front.classList.remove("front");

        queue.push(front);
        front = queue.shift();

        front.classList.add("front");
    }

    function updateKiosk() {
        var t = front
        t.addEventListener("transitionend", function loadnext(tag) {
            t.removeEventListener("transitionend", loadnext);
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    t.src = xmlHttp.responseText;
                }
            }
            xmlHttp.open("GET", "/kiosk/next", true);
            xmlHttp.send(null);
        });
        swap();
    }

    setInterval("updateKiosk()", 10000);
    updateKiosk();
    </script>
</body>

</html>
