<html>
    <body>
        Hej {{ firstname }}!<br><br>
        Du har anmodet om at få tilsendt al den brugerdata vi har på din bruger, "{{ username }}", i systemet. Din data er vedhæftet som CSV-filer.<br><br>
        Mvh,<br>
        TREOen<br>
        ====================================== <br><br>
        Hello {{ firstname }}!<br><br>
        You have requested access to all the userdata we have on your account, "{{ username }}", in our systems. Your data is attached as CSV-files.

        Best regards,<br>
        TREOen<br>
    </body>
</html>