{% load static %}
<!DOCTYPE html>
<html lang="da-DK">
<head>
<title>{% block title %}TREOENs STREGSYSTEM{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" media="screen" href="{% static "/stregsystem/stregsystem.css" %}">
</head>
<body>
{% comment %}
<pre>{% filter escape %}{% debug %}{% endfilter %}</pre>

{% endcomment %}

<h1>Der er desv&aelig;rre sket en fejl i stregsystemet!</h1>
Fejlen er blevet logget, og vil blive fixet over tid...<br>

<h3>Brug tilbage linket her, for at komme tilbage: <a href="javascript:history.back()">Tilbage</a></h3>

Hvis det er en af Treo'ens faste maskiner, og intet virker, er du velkommen til at genstarte den. Den vil s&aring; automatisk komme op med stregsystemet igen.

</body>
</html>
