{% load static %}

{% for achievement in acquired_achievements %}
    <div class="achievement-container">
        <img class="achievement-logo" src="{% static 'stregsystem/achievement/' %}{{ achievement.achievement_task.achievement.icon_png }}" alt="Achievement Logo">
        <div class="text-wrapper">
            <div class="title-text">{{ achievement.achievement_task.achievement.title }}</div>
            <div class="description-text">{{ achievement.achievement_task.achievement.description }}</div>
        </div>
    </div>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const achievements = document.querySelectorAll('.achievement-container');
        const delayBetween = 3200; // Total time per popup

        achievements.forEach((element, index) => {
            setTimeout(() => {
                element.style.display = 'flex';
                element.classList.add('animate-popup');

                // Hide again and remove animation
                setTimeout(() => {
                    element.style.display = 'none';
                    element.classList.remove('animate-popup');
                }, delayBetween); // Hide before next shows
            }, index * delayBetween);
        });
    });
</script>

<style>
    .achievement-container {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 250px;
        height: 75px;
        padding: 10px;
        box-sizing: border-box;
        display: none;
        align-items: center;
        background: url("{% static 'stregsystem/achievement/achievementBG.png' %}") no-repeat center/cover;
    }

    .achievement-logo {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-shrink: 0;
    }

    .text-wrapper {
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        z-index: 2;
        font-family: Georgia, serif;
    }

    .title-text {
        font-size: 16px;
        font-weight: bold;
        color: #FFFFFF;
    }

    .description-text {
        font-size: 14px;
        color: #ECECEC
    }

    @keyframes pop-up-down {
        0% {
            transform: translateY(100vh);
            opacity: 0;
        }
        30% {
            transform: translateY(0);
            opacity: 1;
        }
        70% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(100vh);
            opacity: 0;
        }
    }

    .animate-popup {
        animation: pop-up-down 4s ease-in-out forwards;
    }

</style>