{% if date.month == 12 and date.day < 25 %}

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 200 300"
   version="1.1"
   id="advent_candle"
   inkscape:version="0.92.2 5c3e80d, 2017-08-06"
   sodipodi:docname="candle.svg">
  <defs
     id="defs2">
    <pattern
       patternUnits="userSpaceOnUse"
       width="39.999998"
       height="39.999987"
       patternTransform="matrix(0.26458333,0,0,0.26458333,0,260.35)"
       id="pattern6397">
      <path
         d="M 20,39.999987 39.999998,19.999975 V 0 L 0,39.999987 Z M 0,0 H 20 L 0,19.999975 Z"
         style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="path6356"
         inkscape:connector-curvature="0" />
    </pattern>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2098">
      <rect
         style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect2100"
         width="48.04538"
         height="32.135479"
         x="190.42696"
         y="468.8345" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2122">
      <circle
         style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:21.69491577;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="circle2124"
         cx="157.12053"
         cy="492.5918"
         r="8" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2222">
      <path
         inkscape:connector-curvature="0"
         id="path2224"
         d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
         style="fill:#388e3c;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2246">
      <rect
         style="fill:#ff4848;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect2248"
         width="51.75"
         height="28.25"
         x="64.871193"
         y="361.72141"
         transform="rotate(-4.1209007)" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2284">
      <rect
         style="fill:#ff4848;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect2286"
         width="43.487068"
         height="39.244427"
         x="-388.83832"
         y="-125.8553"
         transform="rotate(-122.5637)" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2296">
      <rect
         style="fill:#ff4848;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect2298"
         width="24.57196"
         height="36.239223"
         x="-322.32108"
         y="217.85617"
         transform="rotate(-68.715137)" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2302">
      <rect
         style="fill:#ff4848;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         id="rect2304"
         width="51.375"
         height="30.375"
         x="-345.16803"
         y="-242.49863"
         transform="rotate(-142.43278)" />
    </clipPath>
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#929494"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:zoom="2"
     inkscape:cx="80.685015"
     inkscape:cy="150.29456"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     units="px"
     inkscape:window-width="1900"
     inkscape:window-height="1025"
     inkscape:window-x="10"
     inkscape:window-y="42"
     inkscape:window-maximized="1"
     inkscape:pagecheckerboard="false">
    <inkscape:grid
       type="xygrid"
       id="grid2638"
       originx="-85.181686"
       originy="-17.033184" />
  </sodipodi:namedview>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:groupmode="layer"
     id="layer5"
     inkscape:label="lys"
     style="display:inline"
     transform="translate(-85.181686,17.033184)">
    <g
       inkscape:groupmode="layer"
       id="layer2"
       inkscape:label="stearin"
       style="display:inline"
       transform="translate(0,-191.55833)">
      <rect
         style="fill:#f2f2f2;fill-opacity:1;stroke:none;stroke-width:0.40148917"
         id="trunk"
         width="30"
         height="226"
         x="170.18169"
         y="248.52515"
         inkscape:label="#trunk" />
      <text
         xml:space="preserve"
         style="font-style:normal;font-weight:normal;font-size:10.58333302px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
         x="2.4054255"
         y="224.2948"
         id="text2427"><tspan
           sodipodi:role="line"
           id="tspan2425"
           x="2.4054255"
           y="233.65857"
           style="stroke-width:0.26458332" /></text>
    </g>
    <g
       inkscape:groupmode="layer"
       id="layer3"
       inkscape:label="væge"
       style="display:inline"
       transform="translate(0,-191.55833)" />
    <g
       inkscape:groupmode="layer"
       id="layer8"
       inkscape:label="labels"
       style="display:inline"
       transform="translate(85.181686,-17.033184)">
      <g
         inkscape:groupmode="layer"
         id="layer7"
         inkscape:label="boundingboxes"
         style="display:none"
         transform="translate(-85.181686,17.033184)">
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1246"
           width="30"
           height="9"
           x="170.18169"
           y="245.9668" />
        <rect
           y="236.9668"
           x="170.18169"
           height="9"
           width="30"
           id="rect1248"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1250"
           width="30"
           height="9"
           x="170.18169"
           y="227.9668" />
        <rect
           y="218.9668"
           x="170.18169"
           height="9"
           width="30"
           id="rect1252"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1254"
           width="30"
           height="9"
           x="170.18169"
           y="209.9668" />
        <rect
           y="200.96681"
           x="170.18169"
           height="9"
           width="30"
           id="rect1256"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1258"
           width="30"
           height="9"
           x="170.18169"
           y="191.96681" />
        <rect
           y="182.96681"
           x="170.18169"
           height="9"
           width="30"
           id="rect1260"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1262"
           width="30"
           height="9"
           x="170.18169"
           y="173.96681" />
        <rect
           y="164.96681"
           x="170.18169"
           height="9"
           width="30"
           id="rect1264"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1266"
           width="30"
           height="9"
           x="170.18169"
           y="254.96681" />
        <rect
           y="146.96681"
           x="170.18169"
           height="9"
           width="30"
           id="rect1268"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1270"
           width="30"
           height="9"
           x="170.18169"
           y="137.96681" />
        <rect
           y="128.96681"
           x="170.18169"
           height="9"
           width="30"
           id="rect1272"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1274"
           width="30"
           height="9"
           x="170.18169"
           y="119.96682" />
        <rect
           y="110.96681"
           x="170.18169"
           height="9"
           width="30"
           id="rect1276"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1278"
           width="30"
           height="9"
           x="170.18169"
           y="101.96681" />
        <rect
           y="92.966812"
           x="170.18169"
           height="9"
           width="30"
           id="rect1280"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1282"
           width="30"
           height="9"
           x="170.18169"
           y="83.966812" />
        <rect
           y="74.966812"
           x="170.18169"
           height="9"
           width="30"
           id="rect1284"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1286"
           width="30"
           height="9"
           x="170.18169"
           y="65.966812" />
        <rect
           y="56.966808"
           x="170.18169"
           height="9"
           width="30"
           id="rect1288"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
        <rect
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004"
           id="rect1290"
           width="30"
           height="9"
           x="170.18169"
           y="155.96681" />
        <rect
           y="263.96683"
           x="170.18169"
           height="9"
           width="30"
           id="rect1292"
           style="display:inline;fill:#005bb9;fill-opacity:1;stroke:none;stroke-width:0.8914004" />
      </g>
      <g
         inkscape:groupmode="layer"
         id="layer9"
         inkscape:label="tal"
         transform="translate(-85.181686,17.033184)">
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.66772"
           y="262.10541"
           id="dag_23"
           inkscape:label="#text2515"><tspan
             sodipodi:role="line"
             x="180.66772"
             y="262.10541"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2517">23</tspan></text>
        <text
           id="dag_22"
           y="253.16846"
           x="180.66562"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2525"><tspan
             id="tspan2523"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="253.16846"
             x="180.66562"
             sodipodi:role="line">22</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="181.13026"
           y="244.16846"
           id="dag_21"
           inkscape:label="#text2529"><tspan
             sodipodi:role="line"
             x="181.13026"
             y="244.16846"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2527">21</tspan></text>
        <text
           id="dag_20"
           y="235.10329"
           x="180.67613"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2533"><tspan
             id="tspan2531"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="235.10329"
             x="180.67613"
             sodipodi:role="line">20</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.222"
           y="226.10959"
           id="dag_19"
           inkscape:label="#text2537"><tspan
             sodipodi:role="line"
             x="180.222"
             y="226.10959"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2535">19</tspan></text>
        <text
           id="dag_18"
           y="217.10118"
           x="180.23041"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2541"><tspan
             id="tspan2539"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="217.10118"
             x="180.23041"
             sodipodi:role="line">18</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.22411"
           y="208.13904"
           id="dag_17"
           inkscape:label="#text2545"><tspan
             sodipodi:role="line"
             x="180.22411"
             y="208.13904"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2543">17</tspan></text>
        <text
           id="dag_16"
           y="199.10541"
           x="180.21359"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2549"><tspan
             id="tspan2547"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="199.10541"
             x="180.21359"
             sodipodi:role="line">16</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.2157"
           y="190.08228"
           id="dag_15"
           inkscape:label="#text2553"><tspan
             sodipodi:role="line"
             x="180.2157"
             y="190.08228"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2551">15</tspan></text>
        <text
           id="dag_14"
           y="181.14536"
           x="180.22832"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2557"><tspan
             id="tspan2555"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="181.14536"
             x="180.22832"
             sodipodi:role="line">14</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.2157"
           y="172.10541"
           id="dag_13"
           inkscape:label="#text2561"><tspan
             sodipodi:role="line"
             x="180.2157"
             y="172.10541"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2559">13</tspan></text>
        <text
           id="dag_12"
           y="163.16847"
           x="180.21359"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2565"><tspan
             id="tspan2563"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="163.16847"
             x="180.21359"
             sodipodi:role="line">12</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.68034"
           y="271.16849"
           id="dag_24"
           inkscape:label="#text2569"><tspan
             sodipodi:role="line"
             x="180.68034"
             y="271.16849"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2567">24</tspan></text>
        <text
           id="dag_11"
           y="154.14745"
           x="180.67824"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2573"><tspan
             id="tspan2571"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="154.14745"
             x="180.67824"
             sodipodi:role="line">11</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="180.22411"
           y="145.1012"
           id="dag_10"
           inkscape:label="#text2577"><tspan
             sodipodi:role="line"
             x="180.22411"
             y="145.1012"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2575">10</tspan></text>
        <text
           id="dag_9"
           y="136.1096"
           x="182.92786"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2581"><tspan
             id="tspan2579"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="136.1096"
             x="182.92786"
             sodipodi:role="line">9</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="182.93626"
           y="127.1012"
           id="dag_8"
           inkscape:label="#text2585"><tspan
             sodipodi:role="line"
             x="182.93626"
             y="127.1012"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2583">8</tspan></text>
        <text
           id="dag_7"
           y="118.09698"
           x="182.92996"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2589"><tspan
             id="tspan2587"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="118.09698"
             x="182.92996"
             sodipodi:role="line">7</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="182.91945"
           y="109.1054"
           id="dag_6"
           inkscape:label="#text2593"><tspan
             sodipodi:role="line"
             x="182.91945"
             y="109.1054"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2591">6</tspan></text>
        <text
           id="dag_5"
           y="100.04232"
           x="182.97202"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2597"><tspan
             id="tspan2595"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="100.04232"
             x="182.97202"
             sodipodi:role="line">5</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="182.93416"
           y="91.107498"
           id="dag_4"
           inkscape:label="#text2601"><tspan
             sodipodi:role="line"
             x="182.93416"
             y="91.107498"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             id="tspan2599">4</tspan></text>
        <text
           id="dag_3"
           y="82.1054"
           x="182.97411"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1.25;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2605"><tspan
             id="tspan2603"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="82.1054"
             x="182.97411"
             sodipodi:role="line">3</tspan></text>
        <text
           xml:space="preserve"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:1333.33337402px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           x="182.91945"
           y="73.168472"
           id="dag_2"
           inkscape:label="#text2609"><tspan
             sodipodi:role="line"
             x="182.91945"
             y="73.168472"
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;line-height:1333.33337402px;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';writing-mode:lr-tb;fill:#ff0000;stroke-width:1.07645524"
             id="tspan2607">2</tspan></text>
        <text
           id="dag_1"
           y="64.147446"
           x="182.93207"
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:43.05820847px;line-height:100%;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';letter-spacing:0px;word-spacing:0px;display:inline;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.07645524"
           xml:space="preserve"
           inkscape:label="#text2613"><tspan
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;line-height:100%;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="64.147446"
             x="182.93207"
             sodipodi:role="line"
             id="tspan1226">1</tspan><tspan
             style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.61164188px;line-height:100%;font-family:'East Syriac Ctesiphon';-inkscape-font-specification:'East Syriac Ctesiphon';fill:#ff0000;stroke-width:1.07645524"
             y="107.20566"
             x="182.93207"
             sodipodi:role="line"
             id="tspan1230" /></text>
      </g>
    </g>
    <g
       inkscape:groupmode="layer"
       id="layer4"
       inkscape:label="flamme"
       style="display:inline"
       transform="translate(0,-191.55833)" />
    <g
       inkscape:label="stearinrest"
       inkscape:groupmode="layer"
       id="layer1"
       transform="translate(0,-217.62498)"
       style="display:inline">
      <g
         inkscape:transform-center-y="-15.108325"
         inkscape:transform-center-x="-25.016381"
         transform="rotate(68.715137,70.802086,453.62618)"
         id="g2292"
         clip-path="url(#clipPath2296)">
        <path
           style="fill:#388e3c;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
           id="path2288"
           inkscape:connector-curvature="0" />
        <path
           style="fill:#1b5e20;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 95.655705,369.77705 43.089315,7.77817 -0.30936,-20.81546 -33.23401,-2.2097 z"
           id="path2290"
           inkscape:connector-curvature="0"
           clip-path="url(#clipPath2222)" />
      </g>
      <g
         id="top"
         inkscape:label="#g1995">
        <rect
           y="256.4599"
           x="182.49055"
           height="10.764552"
           width="5.3822761"
           id="rect2405"
           style="display:inline;fill:#d38d5f;fill-opacity:1;stroke:none;stroke-width:1.07645524" />
        <g
           transform="matrix(0.83760132,0,0,0.83760132,30.891767,39.290081)"
           id="g1987">
          <g
             id="g2000">
            <path
               sodipodi:nodetypes="ccsc"
               inkscape:connector-curvature="0"
               id="flamme"
               d="m 183.87853,259.11554 c -27.81673,-1.70992 -1.61418,-40.13289 -1.61418,-40.13289 0,0 0.0395,3.55409 2.89919,7.19236 8.78568,11.17747 25.58082,32.80767 -1.28501,32.94053 z"
               style="fill:#ffcc00;fill-opacity:1;stroke:#ffcc00;stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               inkscape:label="#path2415" />
            <path
               style="fill:#ffcc00;stroke:#c87137;stroke-width:7.84181833;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;fill-opacity:1"
               d="m 184.01673,250.92784 c -16.2431,-0.86243 -2.33152,-21.56766 -2.33152,-21.56766 0,0 1.41206,3.11841 3.08188,4.95344 5.13025,5.63759 14.9375,16.5472 -0.75036,16.61422 z"
               id="path2417"
               inkscape:connector-curvature="0"
               sodipodi:nodetypes="ccsc" />
            <path
               sodipodi:nodetypes="ccssc"
               inkscape:connector-curvature="0"
               id="path2419"
               d="m 183.29026,247.28279 c -10.67035,-0.53499 -1.1262,-12.9128 -1.1262,-12.9128 0,0 0.20372,0.94056 1.11212,2.25035 0.77649,1.11958 1.18948,0.85854 3.43877,3.88371 3.22853,4.34219 3.93317,6.6611 -3.42469,6.77874 z"
               style="fill:#e3dedb;fill-opacity:1;stroke:#e3dedb;stroke-width:1.49042296px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
          </g>
        </g>
        <path
           sodipodi:nodetypes="csccsscc"
           inkscape:connector-curvature="0"
           id="path2379"
           d="m 168.15506,261.81207 c 5.25639,1.30032 11.38996,2.73133 16.93146,2.60184 8.75839,-0.20424 16.1028,-2.60184 16.1028,-2.60184 3.17167,-0.40523 3.5083,11.43616 1.8093,15.37792 -1.75238,3.27399 -10.3391,1.92656 -13.06133,0.51617 -3.27175,-1.69509 -6.01591,-3.20447 -9.26953,-3.09113 -8.14838,0.28398 -13.02938,4.34003 -13.90634,1.66194 0,0 -1.55115,-15.66267 1.39364,-14.4649 z"
           style="fill:#e6e6e6;stroke:none;stroke-width:1.39686632px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1" />
      </g>
      <g
         inkscape:transform-center-y="13.232928"
         inkscape:transform-center-x="-25.352073"
         transform="rotate(122.5637,137.19551,448.37279)"
         id="g2274"
         clip-path="url(#clipPath2284)">
        <path
           style="fill:#388e3c;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
           id="path2270"
           inkscape:connector-curvature="0" />
        <path
           style="fill:#1b5e20;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 95.655705,369.77705 43.089315,7.77817 -0.30936,-20.81546 -33.23401,-2.2097 z"
           id="path2272"
           inkscape:connector-curvature="0"
           clip-path="url(#clipPath2222)" />
      </g>
      <g
         id="g2228"
         transform="rotate(142.43278,146.15221,445.47363)"
         inkscape:transform-center-x="-21.156799"
         inkscape:transform-center-y="20.922507"
         clip-path="url(#clipPath2302)">
        <path
           inkscape:connector-curvature="0"
           id="path2216"
           d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
           style="fill:#388e3c;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
        <path
           clip-path="url(#clipPath2222)"
           inkscape:connector-curvature="0"
           id="path2218"
           d="m 95.655705,369.77705 43.089315,7.77817 -0.30936,-20.81546 -33.23401,-2.2097 z"
           style="fill:#1b5e20;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
      </g>
      <g
         id="g2253"
         transform="rotate(-18.888278,155.0308,478.90516)">
        <circle
           r="20.75"
           cy="479.5918"
           cx="155.18169"
           id="path2238"
           style="fill:#ff2a2a;fill-opacity:1;stroke:none;stroke-width:8.60103607;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        <rect
           ry="1.8125"
           y="455.6543"
           x="147.99419"
           height="6.1875"
           width="12.9375"
           id="rect2240"
           style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
        <ellipse
           ry="9.375"
           rx="9.125"
           cy="474.3418"
           cx="161.93169"
           id="path2242"
           style="fill:#ff4848;fill-opacity:1;stroke:none;stroke-width:10;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
      </g>
      <g
         id="g2326"
         transform="translate(-1.6708215)">
        <g
           transform="matrix(0.61667934,0,0,1,53.327773,0)"
           id="g2138">
          <g
             id="g2112"
             transform="translate(6.8125,-4e-6)" />
          <g
             id="g2130">
            <rect
               transform="translate(-10)"
               clip-path="url(#clipPath2122)"
               y="492.5918"
               x="146.86919"
               height="8"
               width="53.4375"
               id="rect2114"
               style="fill:#a05a2c;fill-opacity:1;stroke:none;stroke-width:48.56563568;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            <rect
               y="492.5918"
               x="147.58604"
               height="8"
               width="66.536964"
               id="rect2126"
               style="fill:#a05a2c;fill-opacity:1;stroke:none;stroke-width:44.65328979;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
          </g>
        </g>
        <g
           id="g2314"
           transform="matrix(-0.61667934,0,0,1,317.16576,0)">
          <g
             transform="translate(6.8125,-4e-6)"
             id="g2306" />
          <g
             id="g2312">
            <rect
               style="fill:#a05a2c;fill-opacity:1;stroke:none;stroke-width:48.56563568;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect2308"
               width="53.4375"
               height="8"
               x="146.86919"
               y="492.5918"
               clip-path="url(#clipPath2122)"
               transform="translate(-10)" />
            <rect
               style="fill:#a05a2c;fill-opacity:1;stroke:none;stroke-width:44.65328979;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="rect2310"
               width="66.536964"
               height="8"
               x="147.58604"
               y="492.5918" />
          </g>
        </g>
      </g>
    </g>
  </g>
  <g
     inkscape:groupmode="layer"
     id="layer6"
     inkscape:label="dekoration"
     style="display:inline"
     transform="translate(-85.181686,17.033184)" />
</svg>

<script type="text/javascript">
    function modifyCandle(date) {
      var dayOfMonth = date.getDate()
      var month = date.getMonth()

      //Javascript uses 0-indexed month but 1-indexed days
      if (dayOfMonth < 1 || month != 11) return;

      dayOfMonth = Math.min(25, dayOfMonth);

      for (var i = 1; i < dayOfMonth; i++) {
        var dateLabel = document.getElementById("dag_" + i);
        dateLabel.classList.add("day_hidden");
      }

      var hour = new Date().getHours();
      var heightPerDay = 9;

      // Will not be continuous because of splitting the day into 48 pieces
      // instead of 24. I did so to show some of the current day on the candle
      // during the hours where the system is used
      var missingHeight = ((dayOfMonth - 1) * heightPerDay) + (10/48 * hour);
      var trunkInitialHeight = heightPerDay * 24 + 10;
      var newHeight = trunkInitialHeight - missingHeight;


      var trunk = document.getElementById("trunk");
      trunk.style.height = newHeight;

      // 248.52515 is a constant from the SVG because inkscape places objects
      // weirdly. y = 0 in inkscape does not mean y = 0 in the svg...
      trunk.setAttribute('y', 248.52515 + missingHeight);

      var topOfCandle = document.getElementById("top");

      topOfCandle.setAttribute('transform', "translate(0, " + missingHeight + ")");
    }

    setInterval(() => {
      modifyCandle(new Date());
    }, 600000); //Runs every 10th minute
    modifyCandle(new Date());
  </script>

{% endif %}