{% if date.month == 12 and date.day < 25 %}

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 200 300"
   version="1.1"
   id="advent_candle"
   inkscape:version="0.92.2 5c3e80d, 2017-08-06"
   sodipodi:docname="candle.svg">
   <style>
     .day_label {
      font-style:normal;
      font-variant:normal;
      font-weight:normal;
      font-stretch:normal;
      font-size:8.61164188px;
      line-height:100%;
      font-family:'East Syriac Ctesiphon';
      -inkscape-font-specification:'East Syriac Ctesiphon';
      fill:#ff0000;
      stroke-width:1.07645524;
     }
   </style>
  <defs
     id="defs2">
    <pattern
       patternUnits="userSpaceOnUse"
       width="39.999998"
       height="39.999987"
       patternTransform="matrix(0.26458333,0,0,0.26458333,0,260.35)"
       id="pattern6397">
      <path
         d="M 20,39.999987 39.999998,19.999975 V 0 L 0,39.999987 Z M 0,0 H 20 L 0,19.999975 Z"
         style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.99999994px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="path6356" />
    </pattern>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2098">
      <rect
         id="rect2100"
         width="48.04538"
         height="32.135479"
         x="190.42696"
         y="468.8345" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2122">
      <circle
         id="circle2124"
         cx="157.12053"
         cy="492.5918"
         r="8" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2222">
      <path
         id="path2224"
         d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"/>
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2246">
      <rect
         id="rect2248"
         width="51.75"
         height="28.25"
         x="64.871193"
         y="361.72141"
         transform="rotate(-4.1209007)" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2284">
      <rect
         id="rect2286"
         width="43.487068"
         height="39.244427"
         x="-388.83832"
         y="-125.8553"
         transform="rotate(-122.5637)" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2296">
      <rect
         id="rect2298"
         width="24.57196"
         height="36.239223"
         x="-322.32108"
         y="217.85617"
         transform="rotate(-68.715137)" />
    </clipPath>
    <clipPath
       clipPathUnits="userSpaceOnUse"
       id="clipPath2302">
      <rect
         id="rect2304"
         width="51.375"
         height="30.375"
         x="-345.16803"
         y="-242.49863"
         transform="rotate(-142.43278)" />
    </clipPath>
  </defs>
  <g
     id="layer5"
     transform="translate(-80,0)">
    <g
       id="layer2"
       style="display:inline">
      <rect
         style="fill:#f2f2f2;fill-opacity:1;stroke:none;"
         id="trunk"
         width="30"
         height="226"
         x="170.18169"
         y="74"/>
    </g>
    <g
       id="layer9"
       transform="translate(0, 17)">
       <text
           x="180.68034"
           y="271.16849"
           class="day_label"
           id="day_24">24</text>
      <text 
           x="180.66772"
           y="262.10541"
           class="day_label"
           id="day_23">23</text>
      <text
           id="day_22"
           class="day_label"
           y="253.16846"
           x="180.66562">22</text>
      <text
           x="181.13026"
           y="244.16846"
           class="day_label"
           id="day_21">21</text>
      <text
           id="day_20"
           class="day_label"
           y="235.10329"
           x="180.67613">20</text>
      <text
           x="180.222"
           y="226.10959"
           class="day_label"
           id="day_19">19</text>
      <text
           id="day_18"
           class="day_label"
           y="217.10118"
           x="180.23041">18</text>
      <text
           x="180.22411"
           y="208.13904"
           class="day_label"
           id="day_17">17</text>
      <text
           id="day_16"
           class="day_label"
           y="199.10541"
           x="180.21359">16</text>
      <text
           x="180.2157"
           y="190.08228"
           class="day_label"
           id="day_15">15</text>
      <text
           id="day_14"
           class="day_label"
           y="181.14536"
           x="180.22832">14</text>
      <text
           x="180.2157"
           y="172.10541"
           class="day_label"
           id="day_13">13</text>
      <text
           id="day_12"
           class="day_label"
           y="163.16847"
           x="180.21359">12</text>
      <text
           id="day_11"
           class="day_label"
           y="154.14745"
           x="180.67824">11</text>
      <text
           x="180.22411"
           y="145.1012"
           class="day_label"
           id="day_10">10</text>
      <text
           id="day_9"
           class="day_label"
           y="136.1096"
           x="182.92786">9</text>
      <text
           x="182.93626"
           y="127.1012"
           class="day_label"
           id="day_8">8</text>
      <text
           id="day_7"
           class="day_label"
           y="118.09698"
           x="182.92996">7</text>
      <text
           x="182.91945"
           y="109.1054"
           class="day_label"
           id="day_6">6</text>
      <text
           id="day_5"
           class="day_label"
           y="100.04232"
           x="182.97202">5</text>
      <text
           x="182.93416"
           y="91.107498"
           class="day_label"
           id="day_4">4</text>
      <text
           id="day_3"
           class="day_label"
           y="82.1054"
           x="182.97411">3</text>
      <text
           x="182.91945"
           y="73.168472"
           class="day_label"
           id="day_2">2</text>
      <text
           class="day_label"
           y="64.147446"
           x="182.93207"
           id="day_1">1</text>
    </g>
    <g
       id="layer1"
       transform="translate(0,-200)"
       style="display:inline">
      <g
         transform="rotate(68.715137,70.802086,453.62618)"
         id="leafLeftBehind"
         clip-path="url(#clipPath2296)">
        <path
           style="fill:#388e3c;fill-opacity:1;"
           d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
           id="path2288"
           inkscape:connector-curvature="0" />
        <path
           style="fill:#1b5e20;fill-opacity:1;"
           d="m 95.655705,369.77705 43.089315,7.77817 -0.30936,-20.81546 -33.23401,-2.2097 z"
           id="path2290"
           inkscape:connector-curvature="0"
           clip-path="url(#clipPath2222)" />
      </g>
      <g id="decoration">
        <g
           transform="rotate(122.5637,137.19551,448.37279)"
           id="leafRightBehind"
           clip-path="url(#clipPath2284)">
          <path
             style="fill:#388e3c;fill-opacity:1;stroke:none;"
             d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
             id="path2270"/>
          <path
             style="fill:#1b5e20;fill-opacity:1;stroke:none;"
             d="m 95.655705,369.77705 43.089315,7.77817 -0.30936,-20.81546 -33.23401,-2.2097 z"
             id="path2272"
             clip-path="url(#clipPath2222)" />
        </g>
        <g
           id="leafRightInFront"
           transform="rotate(142.43278,146.15221,445.47363)"
           clip-path="url(#clipPath2302)">
          <path
             id="path2216"
             d="m 95.655705,369.77705 c 0,0 12.904695,-2.47488 15.556355,-13.30245 0,0 10.34143,18.38477 22.22966,2.2981 0,0 -0.61871,15.46796 5.3033,18.78252 0,0 -6.93848,1.85615 -11.97662,14.49569 0,0 -4.86136,-14.76086 -20.01996,-6.62913 0,0 3.97748,-7.68977 -11.092735,-15.64473 z"
             style="fill:#388e3c;fill-opacity:1;stroke:none;" />
          <path
             clip-path="url(#clipPath2222)"
             id="path2218"
             d="m 95.655705,369.77705 43.089315,7.77817 -0.30936,-20.81546 -33.23401,-2.2097 z"
             style="fill:#1b5e20;fill-opacity:1;stroke:none;" />
        </g>
        <g
           id="christmasBall"
           transform="rotate(-18.888278,155.0308,478.90516)">
          <circle
             r="20.75"
             cy="479.5918"
             cx="155.18169"
             id="path2238"
             style="fill:#ff2a2a;fill-opacity:1;stroke:none;" />
          <rect
             ry="1.8125"
             y="455.6543"
             x="147.99419"
             height="6.1875"
             width="12.9375"
             id="rect2240"
             style="fill:#000000;fill-opacity:1;stroke:none;" />
          <ellipse
             ry="9.375"
             rx="9.125"
             cy="474.3418"
             cx="161.93169"
             id="path2242"
             style="fill:#ff4848;fill-opacity:1;stroke:none;" />
        </g>
      </g>

      <g
         id="top">
        <rect
           y="256.4599"
           x="182.49055"
           height="10.764552"
           width="5.3822761"
           id="fuse"
           style="display:inline;fill:#d38d5f;fill-opacity:1;" />
        <g
           id="flame"
           transform="translate(146,-40)"
           >
          <g
             id="g2000">
             <!--Flames by Deepak K Vijayan on https://codepen.io/2xsamurai/pen/EKpYMg -->
            <path
             class="flame-main"
             d="m 37.609815,300.30436 c 0,0 -2.76091,-0.80728 -4.157098,-2.23141 -1.396189,-1.42413 -2.516775,-4.56264 -2.516775,-4.56264 0,0 -0.06537,-1.80308 -1.121942,-5.00886 0,0 0.910629,1.3479 1.384253,2.69581 0,0 -1.439048,-5.71985 0.464402,-8.25127 1.903449,-2.53169 0.15489,-9.67159 -0.610341,-10.18157 0,0 3.545402,1.52992 5.391344,12.89583 1.846213,11.36563 4.56562,12.28846 1.651446,14.64411"
             style="fill:#f36e21;stroke-width:0.27126259" />
            <path
             class="flame-main one"
             d="m 33.578854,282.98885 c 1.116788,-4.17744 3.281463,-3.92978 -3.143663,-16.51229 0,0 8.684743,2.77311 14.268684,17.12291 5.58394,14.34951 -5.38402,16.55922 -5.328411,16.70489 0.05588,0.14566 -5.262766,-0.073 -4.024181,-5.02704 1.238585,-4.95407 -2.889218,-8.11129 -1.772429,-12.28847 z"
             style="fill:#f6891f;stroke-width:0.27126259" />
            <path
             class="flame-main two"
             d="m 38.99434,271.30693 c 0,0 3.132811,6.73952 0.983598,10.85593 -2.149485,4.1164 -5.730694,11.36563 -0.115286,17.63152 0,0 11.080262,-9.0344 -0.868312,-28.48745 z"
             style="fill:#ffd04a;stroke-width:0.27126259" />
            <path
             class="flame-main three"
             d="m 43.948409,277.42716 c 0,0 -6.295463,12.75666 -3.266816,21.72053 0,0 8.881409,-4.36 5.454548,-12.42111 -3.426318,-8.06111 -2.187732,-5.94825 -2.187732,-9.29942 z"
             style="fill:#fdba16;stroke-width:0.27126259" />
            <path
             class="flame-main four"
             d="m 44.822688,278.55642 c 0,0 2.421561,8.34214 -0.282927,12.71353 -2.704217,4.3714 -4.014415,7.87774 -4.014415,7.87774 0,0 12.77267,-4.67195 4.297342,-20.59127 z"
             style="fill:#f36e21;stroke-width:0.27126259" />
            <path
             class="flame-main five"
             d="m 33.675423,278.0828 c 0,0 -4.243903,18.3341 2.856124,21.06489 7.100298,2.73108 -0.961626,-13.85202 -2.856124,-21.06489 z"
             style="fill:#fdba16;stroke-width:0.27126259" />
          </g>
        </g>
        <path
           id="blob"
           d="m 168.15506,261.81207 c 5.25639,1.30032 11.38996,2.73133 16.93146,2.60184 8.75839,-0.20424 16.1028,-2.60184 16.1028,-2.60184 3.17167,-0.40523 3.5083,11.43616 1.8093,15.37792 -1.75238,3.27399 -10.3391,1.92656 -13.06133,0.51617 -3.27175,-1.69509 -6.01591,-3.20447 -9.26953,-3.09113 -8.14838,0.28398 -13.02938,4.34003 -13.90634,1.66194 0,0 -1.55115,-15.66267 1.39364,-14.4649 z"
           style="fill:#e6e6e6;stroke:none;fill-opacity:1" />
      </g>
      
      
      
      <g
         id="g2326">
        <g
           transform="matrix(0.61667934,0,0,1,53.327773,0)"
           id="g2138">
          <g
             id="g2130">
            <rect
               transform="translate(-10, 0)"
               clip-path="url(#clipPath2122)"
               y="492.5918"
               x="146.86919"
               height="8"
               width="53.4375"
               id="rect2114"
               style="fill:#a05a2c;fill-opacity:1;stroke:none;" />
            <rect
               y="492.5918"
               x="147.58604"
               height="8"
               width="66.536964"
               id="rect2126"
               style="fill:#a05a2c;fill-opacity:1;stroke:none;" />
          </g>
        </g>
        <g
           id="g2314"
           transform="matrix(-0.61667934,0,0,1,317.16576,0)">
          <g
             id="g2312">
            <rect
               style="fill:#a05a2c;fill-opacity:1;stroke:none;"
               id="rect2308"
               width="53.4375"
               height="8"
               x="146.86919"
               y="492.5918"
               clip-path="url(#clipPath2122)"
               transform="translate(-10)" />
            <rect
               style="fill:#a05a2c;fill-opacity:1;stroke:none;"
               id="rect2310"
               width="66.536964"
               height="8"
               x="147.58604"
               y="492.5918" />
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>

<script type="text/javascript">
    function modifyCandle(date) {
      var dayOfMonth = date.getDate();
      var month = date.getMonth();

      //Javascript uses 0-indexed month but 1-indexed days
      if (dayOfMonth < 1 || month != 11) return;

      dayOfMonth = Math.min(25, dayOfMonth);

      for (var i = 1; i < dayOfMonth; i++) {
        var dateLabel = document.getElementById("day_" + i);
        dateLabel.textContent = "";
      }

      var hour = new Date().getHours();
      var heightPerDay = 9;

      // Will not be continuous because of splitting the day into 48 pieces
      // instead of 24. I did so to show some of the current day on the candle
      // during the hours where the system is used
      var missingHeight = ((dayOfMonth - 1) * heightPerDay) + (10/48 * hour);
      var trunkInitialHeight = heightPerDay * 24 + 10;
      var newHeight = trunkInitialHeight - missingHeight;


      var trunk = document.getElementById("trunk");
      trunk.style.height = newHeight;

      // 74 is a constant from the SVG because inkscape places objects
      // weirdly. y = 0 in inkscape does not mean y = 0 in the svg...
      trunk.setAttribute('y', 74 + missingHeight);

      var topOfCandle = document.getElementById("top");

      topOfCandle.setAttribute('transform', "translate(0, " + missingHeight + ")");
    }

    setInterval(function(){
      modifyCandle(new Date());
    }, 600000); //Runs every 10th minute
    modifyCandle(new Date());
  </script>

{% endif %}