{% load static %}
{% load stregsystem_extras %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}TREOENs STREGSYSTEM{% endblock %}</title>
<link rel="stylesheet" type="text/css" media="screen" href="{% static "/stregsystem/stregsystem.css" %}" />
<style type="text/css">

</style>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" href="{% static "/stregsystem/bat.css" %}" />
<script>
    var static_url = "{% get_static_prefix %}";
    var media_url = "{% get_media_prefix %}";
</script>
</head>
<body onLoad='if (document.focusform) {document.focusform.quickbuy.focus()}'>
{% comment %}
<pre>{% filter escape %}{% debug %}{% endfilter %}</pre>

{% endcomment %}

<table width="100%%">
    <tr>
        <td>
          <center>
            <input type="button" onclick="location.href='/{{room.id}}';" value="Genstart" tabindex="10" accesskey="q" />
          </center>
        </td>
        <td align=center>
            <h1>{% block heading %}TREOENs STREGSYSTEM
{% ifnotequal room.id 1 %}
 : {{room.description}}
{% endifnotequal %}
{% endblock %}</h1>
        </td>
        <td>
          <center>
            <input type="button" onclick="location.href='/{{room.id}}';" value="Menu" tabindex="11" />
          </center>
        </td>
    </tr>
</table>
<hr />

{% block content %}{% endblock %}

<hr />

<div id="news">
{% block news %}
{% if news %}
<marquee><b>{{news.text}}</b></marquee>
{% endif %}
{% endblock %}
</div>
<script type="text/javascript" async src="{% static "/stregsystem/bat.js" %}"></script>
<script type="text/javascript" async src="{% static "/stregsystem/gdpr.js" %}"></script>
<div class="bat-container"></div>

{% show_candle %}
</body>
</html>
