{% load static %}
{% load stregsystem_extras %}
<!DOCTYPE html>
<html lang="da-DK">
<head>
    <title>{% block title %}TREOENs STREGSYSTEM{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" media="screen" href="{% static "/stregsystem/stregsystem.css" %}">
    <link rel="stylesheet" media="screen" href="{% static "/stregsystem/cursor.css" %}">
    <script>
        var static_url = "{% get_static_prefix %}";
        var media_url = "{% get_media_prefix %}";
    </script>
</head>
<body onLoad='if (document.focusform) {document.focusform.quickbuy.focus()}'>
<div id="canvas-container"></div>

<table width="100%">
    <tr>
        <td>
            <center>
                <input type="button" onclick="location.href='/{{ room.id }}';" value="Genstart" tabindex="10"
                       accesskey="q">
            </center>
        </td>
        <td align=center>
            <h1>{% block heading %}TREOENs STREGSYSTEM
                {% ifnotequal room.id 1 %}
                    : {{ room.description }}
                {% endifnotequal %}
            {% endblock %}</h1>
        </td>
        <td>
            <center>
                <input type="button" onclick="location.href='/{{ room.id }}';" value="Menu" tabindex="11">
            </center>
        </td>
    </tr>
</table>
<hr>

{% block content %}{% endblock %}

<hr>

<div id="news">
    {% block news %}
        {% if news %}
            <marquee><b>{{ news.text }}</b></marquee>
        {% endif %}
    {% endblock %}
</div>
<script async src="{% static "/stregsystem/gdpr.js" %}"></script>
</body>
</html>
