{% load static %}
{% load stregsystem_extras %}
{% load themes %}
<!DOCTYPE html>
<html lang="da-DK">
<head>
<title>{% block title %}TREOENs STREGSYSTEM{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" sizes="any" type="image/svg+xml" href="{% static "/stregsystem/logo/logo.svg" %}">
<link rel="manifest" href="{% static "/stregsystem/manifest.json" %}">
<link rel="stylesheet" media="screen" href="{% static "/stregsystem/stregsystem.css" %}">
<link rel="stylesheet" media="(hover: hover) and (pointer: fine)" href="{% static "/stregsystem/cursor.css" %}">
{% theme_styles %}
{% block head %}
{% endblock %}
<script>
    globalThis.static_url = "{% get_static_prefix %}";
    globalThis.media_url = "{% get_media_prefix %}";
    globalThis.themes_static_url = "{% get_themes_static_prefix %}";
</script>
{% theme_scripts %}
</head>
<body>
{% comment %}
<pre>{% filter escape %}{% debug %}{% endfilter %}</pre>

{% endcomment %}

<header>
  <div class="left">
    <input type="button" onclick="location.href='/{{room.id}}';" value="Genstart" tabindex="10" accesskey="q">
  </div>
  <h1>
    {% block heading %}
      TREOENs STREGSYSTEM {% if room.id != 1 %} : {{room.description}} {% endif %}
    {% endblock %}
  </h1>
  <div class="right">
    <input type="button" onclick="location.href='/{{room.id}}';" value="Menu" tabindex="11" />
    <input type="button" onclick="location.href='/signup'" value="Tilmeld" tabindex="12"/>
  </div>
</header>
<hr>

{% block content %}{% endblock %}

<hr>

<div id="news">
{% block news %}
{% if news %}
<marquee><b>{{news.text}}</b></marquee>
{% endif %}
{% endblock %}
</div>
{% theme_content %}
</body>
</html>
