{% extends "stregsystem/error.html" %}

{% load stregsystem_extras %}

{% block headline %}
    Stats for &aring;r {{ year }} blev ikke fundet.
{% endblock %}

{% block message %}
    <center>
        Hvis du mener at <i>det er for galt</i>, anbefaler F-Klubbens IT, at du venter, indtil nogen g&oslash;r noget
        ved problemet.<br/>
        <br/>
        Mens du venter kan du eventuelt:<br/>
        K&oslash;be en &oslash;l i stregsystemet, l&aeligre at skrive Perl, tage et spil t&aelig;nkeboks, fors&oslash;ge
        at glemme det Perl du har l&aeligrt eller blive Ph.D. studerende.
    </center>
{% endblock %}