{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}
{% load listutil %}

{% block title %}TREOENs STREGSYSTEM
{% ifnotequal room.id 1 %}
 : {{room.description}}
{% endifnotequal %}
{% endblock %}

{% block content %}


<div id="instructions">
{% block instructions %}
<b>Du kan "sætte streger" på to forskellige måder:</b>
<ol>  
  <li><span>Indtast dit brugernavn nedenfor.
  Du vil så blive præsenteret for en interaktiv menu.</span></li>
  <li><span>Indtast dit brugernavn <em>og</em> et eller flere produkt
  ID{#'er#} (adskilt med "space").
  Købet vil blive direkte registreret uden yderligere input.
  Under feltet vil  der vises en bekræftelse af købet.</span></li>
</ol>
{% endblock %}
</div>


<center>
    <form autocomplete="off" action="/{{room.id}}/sale/" method="post" id="focusform" name="focusform" onsubmit="document.getElementById('buybutton').disabled = true">{% csrf_token %}
{% block saleform %}
<p>
<label for="quickbuy">Quickbuy</label>
<input tabindex="1" type="text" size="20" id="quickbuy" name="quickbuy" autofocus />
<input tabindex="3" type="submit" value="Køb!" id="buybutton" />
</p>
{% endblock %}
</form>
</center>

<center>
<div id="message">{% block message %}{% endblock %}</div>
</center>

<center>
{% block products %}
{% if product_list %}
{% autoescape off %}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top">
            <table border="1" cellspacing="2" cellpadding="2">
              <tr>
              <th>ID</th>
                <th>Produkt</th>
                <th>Pris</th>
            </tr>
            {% for product in product_list|partition:"2"|first %}
            <tr>
            <td>{{product.id}}</td>
              <td>{{product.name}}</td>
            <td align="right">{{product.price|money}} kr</td>
              </tr>
            {% endfor %}
            </table>
        </td>
        {% if product_list|partition:"2"|last %}
        <td width="30">&nbsp;</td>
            <td valign="top">
                <table border="1" cellspacing="2" cellpadding="2">
                  <tr>
                    <th>ID</th>
                    <th>Produkt</th>
                    <th>Pris</th>
                  </tr>
                  {% for product in product_list|partition:"2"|last %}
                  <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td align="right">{{product.price|money}} kr</td>
                  </tr>
                  {% endfor %}
                </table>
            </td>
        {% endif %}
    </tr>
</table>
{% endautoescape %}
{% else %}
<p>Ingen produkter.</p>

{% endif %}
{% endblock %}
</center>

<div style="clear: both;">&nbsp;</div>


{% endblock %}

