{% extends "stregsystem/index.html" %}

{% load stregsystem_extras %}


{% block message %}
<blink>
<b>
{% autoescape off %}
{{member.username}} har lige købt
{% for product in products %}{% if forloop.last and not forloop.first %}
 og 
{% else %}{% if not forloop.first %},
{% endif %}{% endif %}
{{product.name}}{% endfor %}
for tilsammen {{cost|money}} kr.
</b>
</blink>
{% if promille %}
<br />Din alkohol promille er ca. <b>{{promille|floatformat:2}}‰</b>
{% endif %}
{% endautoescape %}
<br />
<br />
{% endblock %}
