{% extends "stregsystem/index.html" %}

{% load stregsystem_extras %}


{% block message %}
<blink>
<b>
{% autoescape off %}
<span class="username">{{member.username}}</span> har lige købt
{% for product in products %}{% if forloop.last and not forloop.first %}
 og
{% else %}{% if not forloop.first %},
{% endif %}{% endif %}
{{product.name}}{% endfor %}
for tilsammen {{cost|money}} kr.
</b>
{% if give_multibuy_hint %}
    <h1>psssst. multibuy er enabled.</h1> 
    <b> Du kunne have skrevet: {{sale_hints}} </b>
{% endif %}
</blink>
{% if promille %}
    {% if is_ballmer_peaking %}
        <br />Du Ballmer-peaker!! Du kan producere god kode de næste: {{ bp_minutes|floatformat:0 }} minuter og {{ bp_seconds|floatformat:0 }} sekunder!
    {% else %}
        <br />Din alkohol promille er ca. <b>{{promille|floatformat:2}}‰</b>
    {% endif %}
{% endif %}
{% endautoescape %}
<br />
<br />
{% endblock %}
