{% extends "stregsystem/base.html" %}

{% block title %}Treoens stregsystem : Rangliste {% endblock %}

{% block content %}

    <style>
        .ranking {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>

    <center>
        <h3>{{ member.firstname }} {{ member.lastname }} ({{ member.email }}) </h3>
        <i>Dit første køb var: {{ member_first_purchase }}</i><br><br>
        <form method="post"> {% csrf_token %}
            Fra: {{ form.from_date }}<br>
            Til: {{ form.to_date }}<br>
            <input type="submit" name="custom-range" value="Vis ranking i interval">
        </form>
        {% if form.errors %}
            <h3 style="color: red">{{ form.errors }}</h3>
        {% endif %}
        <h3>Din rangliste fra {{ from_date | date:'d-m-Y' }} til {{ to_date | date:'d-m-Y' }}:</h3>
        <table class="ranking">
            <tr class="ranking">
                <th></th>
                {% for header in rankings.keys %}
                    <th class="ranking">{{ header }}</th>
                {% endfor %}
            </tr>
            <tr class="ranking">
                <td>rank/total</td>
                {% for _, rank in rankings.items %}
                    <td class="ranking">{{ rank.0.0 }}/{{ rank.0.1 }}</td>
                {% endfor %}
            </tr>
            <tr class="ranking">
                <td>enheder/hverdag</td>
                {% for _, rank in rankings.items %}
                    <td class="ranking">{{ rank.1 }}</td>
                {% endfor %}
            </tr>
        </table>
        <br>
        <i>Rank/total rækken viser din nuværende placering ud af det totale antal Fembers der har købt varer i den
            givne kategori, i den angivne periode.</i><br>
        <i>En hverdag er defineret som antallet af mandag til fredage mellem studiestart og project deadline i 2021:<br>
            <code>((to_time - from_time).days * 162.14 / 365)</code></i>
    </center>
{% endblock %}

