{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}
{% load listutil %}

{% block title %}Treoens stregsystem : Menu {% endblock %}

{% block head %}
<style>
  #sublinks {
    font-weight: bold;
    padding-top: .8em;
    padding-bottom: 1em;
  }
  #productlist {
    padding-bottom: 1em;
  }
</style>
{% endblock %}

{% block content %}

<main class="center">
  <h3>{{member.firstname}} {{member.lastname}} ({{member.email}})</h3>

  <h4>Du
    {% if negative_balance %}
      skylder <span style="color: red;">{{member.balance|money|cut:"-"}}</span> kroner
      {% else %}
      har {{member.balance|money}} kroner til gode!
    {% endif %}
  </h4>

  <nav id="sublinks" class="horizontal-table">
      <a href="/{{room.id}}/user/{{member.id}}">Bruger Info</a>
      <a href="/{{room.id}}/user/{{member.id}}/pay">Indsæt penge</a>
      <a href="/{{room.id}}/user/{{member.id}}/rank">Rangliste</a>
    {% comment %}
      <a href="/{{room.id}}/user/{{member.id}}/undo">Fortryd køb</a>
    {% endcomment %}

    {% comment %}
      <a href="/index.php3?multiple=1&user_id=2024">Multi-køb</a>
    {% endcomment %}

  </nav>
  <br />

  <span>Køb et produkt ved at trykke på et produktnavn i tabellerne nedenfor.</span>

  <br />

  <div id="message">
  {% block message %}
    {% if bought %}
      <blink><b>Du har lige købt en {{bought.name}} til {{bought.price|money}} kr.</b></blink>
    {% endif %}
    {% if promille %}
      {% if is_ballmer_peaking %}
        <br />Du Ballmer-peaker!! Du kan producere god kode de næste: {{ bp_minutes|floatformat:0 }} minuter og {{ bp_seconds|floatformat:0 }} sekunder!
      {% else %}
        <br />Din alkohol promille er ca. <b>{{promille|floatformat:2}}‰</b>
      {% endif %}
    {% endif %}
    {% if caffeine %}
      <br />Du har {{caffeine | floatformat:0}}mg koffein i kroppen.
      {% if cups is not 0 %}
        <br />Det svarer til at drikke {{caffeine | caffeine_emoji_render}} {{ cups|pluralize:'kop kaffe,kopper kaffe i streg!' }}
      {% endif %}
      {% if is_coffee_master %}
        <br />🏆Du er kaffemester i denne uge!🏆
      {% endif %}
    {% endif %}

    <br />
  {% endblock %}
  </div>

  <div id="productlist" class="horizontal-table">
    {% block products %}
      {% autoescape off %}
      {% if product_list %}
        <table class="default">
          <tr>
            <th>Produkt</th>
            <th>Pris</th>
          </tr>
          {% for product in product_list|partition:"2"|first %}
            <tr>
              <td>
                <form method="post" action="/{{ room.id }}/sale/{{ member.id }}/">
                  {% csrf_token %}
                  <a href="" onclick="this.closest('form').submit();return false;">{{product.name}}</a>
                  <input type="hidden" value="{{ product.id }}" name="product_id">
                  <input type="hidden" value="{{ room.id }}" name="room_id">
                  <input type="hidden" value="{{ member.id }}" name="member_id">
                </form>
              </td>
              <td class="price">{{product.price|money}} kr</td>
            </tr>
          {% endfor %}
        </table>
        {% if product_list|partition:"2"|last %}
          <table class="default">
            <tr>
              <th>Produkt</th>
              <th>Pris</th>
            </tr>
            {% for product in product_list|partition:"2"|last %}
            <tr>
              <td>
                <form method="post" action="/{{ room.id }}/sale/{{ member.id }}/">
                  {% csrf_token %}
                  <a href="" onclick="this.closest('form').submit();return false;">{{product.name}}</a>
                  <input type="hidden" value="{{ product.id }}" name="product_id">
                  <input type="hidden" value="{{ room.id }}" name="room_id">
                  <input type="hidden" value="{{ member.id }}" name="member_id">
                </form>
              </td>
              <td class="price">{{product.price|money}} kr</td>
            </tr>
            {% endfor %}
          </table>
        {% endif %}
      {% else %}
        <p>Ingen produkter.</p>
      {% endif %}
      {% endautoescape %}
    {% endblock %}
  </div>
  <br />
  {% include "stregsystem/purchase_heatmap.html" %}
</main>

{% endblock %}

