{% extends "stregsystem/menu_base.html" %}

{% load stregsystem_extras mobilepay_qr %}

{% block title %}Treoens stregsystem : Indsæt penge {% endblock %}

{% block menu_content %}
    <center><h2><a href="/{{ room.id }}/sale/{{ member.id }}">Tilbage til produktmenu</a></h2></center>

    <center><b>Sidste indbetaling:</b>
        {% if last_payment %}
            {{ last_payment.amount|money }} kr. d. {{ last_payment.timestamp }}
        {% else %}
            Ingen indbetalinger!
        {% endif %}
    </center>

    <br/>

    <center>
        <b>MobilePay QR-koder</b>
        <table cellspacing="32px" align="center">
            <tr>
                {% for amount in amounts %}
                    <td align="center">
                        <b>{{ amount | floatformat:2 }} kr.</b>
                        <br/><br/>
                        <a href="mobilepay://send?phone=90601&comment={{ member.username }}&amount={{ amount }}">
                            {% mobilepay_qr member.username amount %}
                        </a>
                    </td>
                {% endfor %}

                <td align="center">
                    <b>Valgfrit beløb</b>
                    <br/><br/>
                    <a href="mobilepay://send?phone=90601&comment={{ member.username }}">
                        {% mobilepay_qr member.username %}
                    </a>
                    <br/>
                    <b>OBS: Min. 50 kr.</b>
                </td>
            </tr>
        </table>
    </center>

{% endblock %}

