{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}

{% block title %}Treoens stregsystem : Brugerinfo {% endblock %}

{% block content %}
<center><h3>{{member.firstname}} {{member.lastname}} ({{member.email}})</h3></center>

<center><h2><a href="/{{room.id}}/sale/{{member.id}}">Tilbage til produktmenu</a></h2></center>

<center>
<b>Aktive billeter</b>
<table border=1 width="60%">
   <tr>
       <th align=left>Event</th>
       <th align=left>Produkt</th>
       <th align=left>Pris</th>
       <th align=left>Start Tidspunkt</th>
   </tr>
{% autoescape off %}
{% for event in bought_events_list %}
<tr>
    <td>{{event.name}}</td>
    <td>{{event.product.name}}</td>
    <td>{{event.product.price|money}}</td>
    <td>{{event.time}}</td>
</tr>
{% endfor %}
{% endautoescape %}
</table>
</center>
<h1>{{kek}}</h1>

{% endblock %}