{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}

{% block title %}Treoens stregsystem : Brugerinfo {% endblock %}

{% block content %}

<main class="center">
   <h3>{{member.firstname}} {{member.lastname}} ({{member.email}})</h3>

   <h2><a href="/{{room.id}}/sale/{{member.id}}">Tilbage til produktmenu</a></h2>

   {% spaceless %}
   <h4>Du {% if negative_balance %}
   skylder <span style="color: red;">{{member.balance|money|cut:"-"}}</span> kroner
   {% else %}har {{member.balance|money}} kroner til gode!
   {% endif %}
   </h4>
   {% endspaceless %}

   {% if stregforbud %}
      <h1 style="color: red;"><blink>STREGFORBUD!</blink></h1>
   {% endif %}

   <p><b>Sidste indbetaling:</b> 
      {% if last_payment %}
         {{last_payment.amount|money}} kr. d. {{last_payment.timestamp}}
         {% else %}
         Ingen indbetalinger!
      {% endif %}
   </p>

   <br />

   <p><b>Sidste 10 køb</b></p>
   <table class="default">
      <tr>
         <th>Dato og tidspunkt</th>
         <th>Produkt</th>
         <th>Pris</th>
      </tr>
      {% autoescape off %}
      {% for sale in last_sale_list %}
         <tr>
            <td>{{sale.timestamp}}</td>
            <td>{{sale.product.name}}</td>
            <td class="price">{{sale.price|money}}</td>
         </tr>
      {% endfor %}
      {% endautoescape %}
   </table>

   <br />

   <p><b>I databasen ligger desuden følgende informationer om dig</b></p>
   <table class="default">
      <tr>
         <th>Felt</th>
         <th>Værdi</th>
      </tr>
      <tr>
         <td>Bruger ID</td>
         <td>{{member.id}}</td>
      </tr>
      <tr>
         <td>Brugernavn</td>
         <td>{{member.username}}</td>
      </tr>
      <tr>
         <td>Fornavn(e)</td>
         <td>{{member.firstname}}</td>
      </tr>
      <tr>
         <td>Efternavn</td>
         <td>{{member.lastname}}</td>
      </tr>
      <tr>
         <td>Email adresse</td>
         <td>{{member.email}}</td>
      </tr>
      <tr>
         <td>Årgang (indmeldelsesår)</td>
         <td>{{member.year}}</td>
      </tr>
      <tr>
         <td>Forbrug</td>
         <td>{{stats.total_amount|money}} 𝓕$ / {{stats.total_purchases}} køb</td>
      </tr>
   </table>
   <a href="/{{room.id}}/send_csv_mail/{{member.id}}/">Anmod om bruger data</a>
</main>

{% endblock %}

