{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}

{% block title %}Treoens stregsystem : User Tickets {% endblock %}

{% block content %}

<main class="center">
    <h3>{{member.firstname}} {{member.lastname}} ({{member.email}})</h3>

    <h2><a href="/{{room.id}}/sale/{{member.id}}">Tilbage til produktmenu</a></h2>

    <h4>Billetter relateret til dig</h4>

    <table class="default">
        <tr>
            <th>Event</th>
            <th>Billet Navn</th>
            <th>Beskrivelse</th>
            <th>På Stand By</th>
            <th>Refunderet</th>
        </tr>
        {% autoescape off %}
        {% for ticket_purchase in purchase_page %}
            <tr style="text-align:center;">
                <td>{{ ticket_purchase.ticket.event_instance.name }}</td>
                <td>{{ ticket_purchase.ticket.name }}</td>
                <td>{{ ticket_purchase.ticket.description }}</td>
                <td>{{ ticket_purchase.get_stand_by_pretty }}</td>
                <td>{{ ticket_purchase.get_refunded_pretty }}</td>
            </tr>
        {% empty %}
            <tr style="text-align:center;">
                <td colspan="5">Ingen billetter releateret til dig.</td>
            </tr>
        {% endfor %}
        {% endautoescape %}
    </table>

    <div class="pagination">
        <div>
        {% if purchase_page.has_previous %}
            <a href="?purchase_table_index={{ purchase_page.previous_page_number }}">Forrige</a>
        {% else %}
            Ingen Forrige        
        {% endif %}
        -
        {% if purchase_page.has_next %}
            <a href="?purchase_table_index={{ purchase_page.next_page_number }}">Næste</a>
        {% else %}
            Ingen Næste
        {% endif %}
        </div>
        <div>
            Side {{ purchase_page.number }} af {{ purchase_page.paginator.num_pages }}
        </div>        
    </div>



{% endblock %}

