{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}

{% block title %}Treoens stregsystem : Brugerinfo {% endblock %}

{% block content %}

<center><h3>{{member.firstname}} {{member.lastname}} ({{member.email}})</h3></center>

<center><h2><a href="/{{room.id}}/sale/{{member.id}}">Tilbage til produktmenu</a></h2></center>

{% spaceless %}
<center><h4>Du {% if negative_balance %}
skylder <span style="color: red;">{{member.balance|money|cut:"-"}}</span> kroner
{% else %}har {{member.balance|money}} kroner til gode!
{% endif %}
</h4></center>
{% endspaceless %}

{% if stregforbud %}
<center><h1 style="color: red;"><blink>STREGFORBUD!</blink></h1></center>
{% endif %}

<center><b>Sidste indbetaling:</b> 
{% if last_payment %}
{{last_payment.amount|money}} kr. d. {{last_payment.timestamp}}
{% else %}
Ingen indbetalinger!
{% endif %}
</center>

<br />

<center>
<b>Sidste 10 køb</b>
<table border=1 width="60%">
   <tr>
      <th align=left>Dato og tidspunkt</th>
      <th align=left>Produkt</th>
      <th align=left>Pris</th>
   </tr>
{% autoescape off %}
{% for sale in last_sale_list %}
   <tr>
      <td>{{sale.timestamp}}</td>
      <td>{{sale.product.name}}</td>
      <td align="right">{{sale.price|money}}</td>
   </tr>
{% endfor %}
{% endautoescape %}
</table>
</center>

<br />

<center><b>I databasen ligger desuden følgende informationer om dig</b></center>
<table border=1 width="100%">
   <tr>
      <th align=left>Felt</th>
      <th align=left>Værdi</th>
   </tr>
   <tr>
      <td>Bruger ID</td>
      <td>{{member.id}}</td>
   </tr>
   <tr>
      <td>Brugernavn</td>
      <td>{{member.username}}</td>
   </tr>
   <tr>
      <td>Fornavn(e)</td>
      <td>{{member.firstname}}</td>
   </tr>
   <tr>
      <td>Efternavn</td>
      <td>{{member.lastname}}</td>
   </tr>
   <tr>
      <td>Email adresse</td>
      <td>{{member.email}}</td>
   </tr>
   <tr>
      <td>Årgang (indmeldelsesår)</td>
      <td>{{member.year}}</td>
   </tr>
</table>

{% endblock %}

