{% extends "stregsystem/base.html" %}

{% load stregsystem_extras mobilepay_qr %}


{% block title %}Treoens stregsystem : Indsæt penge {% endblock %}

{% block content %}

<main class="center">
  <h3>{{member.firstname}} {{member.lastname}} ({{member.email}})</h3>

  <h2><a href="/{{room.id}}/sale/{{member.id}}">Tilbage til produktmenu</a></h2>

  {% spaceless %}
  <h4>Du {% if negative_balance %}
    skylder <span style="color: red;">{{member.balance|money|cut:"-"}}</span> kroner
    {% else %}har {{member.balance|money}} kroner til gode!
    {% endif %}
  </h4>
  {% endspaceless %}

  <p><b>Sidste indbetaling:</b> 
    {% if last_payment %}
    {{last_payment.amount|money}} kr. d. {{last_payment.timestamp}}
    {% else %}
    Ingen indbetalinger!
    {% endif %}
  </p>

  <br />

  <p><b>MobilePay QR-koder</b></p>
  <div class="horizontal-table">
    {% for amount in amounts %}
      <div>
        <b>{{amount | floatformat:2}} kr.</b>
        <br /><br />
        <a href="mobilepay://send?phone=90601&comment={{ member.username }}&amount={{ amount }}">
          {% mobilepay_qr member.username amount %}
        </a>
      </div>
    {% endfor %}

    <div>
      <b>Valgfrit beløb</b>
      <br /><br />
      <a href="mobilepay://send?phone=90601&comment={{ member.username }}">
        {% mobilepay_qr member.username %}
      </a>
      <br />
      <b>OBS: Min. 50 kr.</b>   
    </div>
  </div>
</main>

{% endblock %}

