<div class="heatmap-table-container">
    <table class="heatmap-table">
        <thead>
            <tr class="heatmap-row">
                <td class="heatmap-label heatmap-label-first"><span>Uge nr.</span></td>
                {% for label in column_labels %}
                <td class="heatmap-label" colspan="1"><span>{{label}}</span></td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for weekday_label, weekday_data in rows %}
            <tr class="heatmap-row">
                <td class="heatmap-label heatmap-label-first"><span>{{weekday_label}}</span></td>
                {% for day_data in weekday_data %}
                <td class="heatmap-cell" title="{{day_data.0}}" data-items="{{day_data.2}}" onmouseenter="updateProductCounts({{day_data.2}})" onmouseleave="updateProductCounts({{day_data.2}}, true)"
                    style="{% for color_value in day_data.color %}--cell-color-{{forloop.counter0}}: rgb{{color_value}};{% endfor %}">
                    <!--<span class="heatmap-cell-title">{{day_data.2}}</span>-->
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <div id="heatmap-table-mode-description-ItemCount" style="display: inline-flex">
            <div class="heatmap-cell" style="fill: lightgreen;background-color: lightgreen;"></div> =få køb.
            <div class="heatmap-cell" style="fill: darkgreen;background-color: darkgreen;"></div> =mange køb.
        </div>
        <div id="heatmap-table-mode-description-ColorCategorized" style="display: none">
            <div class="heatmap-cell" style="fill: red;background-color: red;"></div> =ØL.
            <div class="heatmap-cell" style="fill: green;background-color: green;"></div> =Energi.
            <div class="heatmap-cell" style="fill: blue;background-color: blue;"></div> =Soda.
        </div>
        <div style="height: 2em">
            {% for color_mode in heatmap_modes %}
            <a id="heatmap-table-mode-button-{{color_mode.mode_name}}" href="javascript:void(0)" onclick="swapTableType({{forloop.counter0}});">{{color_mode.mode_description}}</a>
            {% endfor %}
        </div>
    </div>
</div>
<style>
    .heatmap-table-container{
        border-spacing: 5px;
        border-collapse: separate;
        border-style: inset;
        padding: 10px;
        display: inline-block;
    }
    .heatmap-table {
        position: relative;
        overflow: hidden;
    }
    .heatmap-label {
        position: relative;
        padding: .125em .5em .125em 0;
        color: black;
        text-align: left;
        fill: black;
    }
    .heatmap-label-first {
        width: 4em;
    }
    .heatmap-label > span {
        clip-path: None;
        position: absolute;
        bottom: 2px
    }
    .heatmap-row {
        height: 20px;
    }
    .heatmap-cell {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        outline-offset: -1px;
        shape-rendering: geometricPrecision;
        padding: 0;
        outline: 1px solid rgba(27, 31, 35, 0.06);

        fill: var(--cell-color);
        background-color: var(--cell-color);
    }
    .heatmap-cell:hover {
        border-radius: 5px;
    }
</style>
<style id="heatmap-cell-variable">
    .heatmap-cell {
        --cell-color: var(--cell-color-0);
    }
</style>
<script>
    let current_heatmap_mode = 0;
    const heatmap_mode_names = [
        {% for heatmap_mode in heatmap_modes %}
            "{{heatmap_mode.mode_name}}",
        {% endfor %}
    ]

    window.onload = function (){swapTableType(0);};

    function swapTableType(index){
        document.getElementById("heatmap-cell-variable").innerHTML = `.heatmap-cell{--cell-color: var(--cell-color-${index});}`;
        document.getElementById(`heatmap-table-mode-button-${heatmap_mode_names[current_heatmap_mode]}`).style.color = "";
        document.getElementById(`heatmap-table-mode-button-${heatmap_mode_names[index]}`).style.color = "purple";

        document.getElementById(`heatmap-table-mode-description-${heatmap_mode_names[current_heatmap_mode]}`).style.display = 'none';
        document.getElementById(`heatmap-table-mode-description-${heatmap_mode_names[index]}`).style.display = 'inline-flex';
        current_heatmap_mode = index;
    }

    function updateProductCounts(products, clear=false){
        const product_counts = {};

        for (const num of products){
            product_counts[num] = product_counts[num] ? product_counts[num] + 1 : 1;
        }

        for (const [product_id, count] of Object.entries(product_counts)){
            changeProductCount(product_id, clear ? 0 : count);
        }
    }

    function changeProductCount(product_id, count){
        let productForm = document.querySelector(`input[name='product_id'][value='${product_id}']`).parentElement;

        var productCountElement = productForm.getElementsByClassName("product-count")[0];
        if (productCountElement === undefined){
            productCountElement = document.createElement("a");
            productCountElement.setAttribute("class", "product-count");
            productForm.appendChild(productCountElement);
        }

        productCountElement.style.display = count === 0 ? 'none' : 'inline';
        productCountElement.innerText = `${count}`
    }
</script>