{% extends "stregsystem/base.html" %}

{% block content %}
<center>
    <h2>Ærede fember ({{member.username}}), hvis du ikke har efterspurgt data de sidste 5 minutter, skulle du gerne have modtaget en email.</h2>

    <h3>Filer:</h3>
    <table border=1 width="40%">
        <tr>
            <th><b>sales.csv</b></th>
            <th>indeholder alle køb du har foretaget dig i stregsystemet.</th>
        </tr>
        <tr>
            <th><b>payments.csv</b></th> 
            <th>indeholder alle indbetalinger du har gjort gennem Mobilepay.</th>
        </tr>
        <tr>
            <th><b>userdata.csv</b></th> 
            <th>indeholder alt data i den nederste tabel på forrige side.</th>
        </tr>
    </table><br>

    Sidst du fik sendt mail: <b>{{sent_time}}</b><br>

    Blev der sendt en mail? <b>{% if mail_sent %}Mail sendt{% else %}Ingen mail sendt{% endif %}</b>!
    
    <h3><a href="/{{room.id}}/user/{{member.id}}">Tilbage til forrige side</a></h3>

</center>

{% endblock %}
