{% extends "stregsystem/base.html" %}

{% load stregsystem_extras %}

{% block title %}F-Klub Tilmelding{% endblock %}

{% block content %}
    <center>
        <p>
            Du mangler at betale {{ pending_signup.due|money }}.- kr. for at fulføre din tilmelding. <br/>
            Scan nedenstående QR-kode med din Mobilepay app for at betale.
            Mobile brugere kan trykke på QR-koden i stedet.<br/><br/>
        </p>
        <br/><br/>
        <a href="{{ mobilepay_url }}">{{ mobilepay_qr_svg|safe }}</a>
        <br/><br/>
        <input type="button" onclick="location.href='/';" value="Færdig">
    </center>
{% endblock %}