{% extends "admin/base_site.html" %}

{% block title %}Brødrazzia{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../../../">Stregsystem</a>&nbsp;&rsaquo;&nbsp;<a>Razzia</a><a href="../{{razzia.pk}}">&nbsp;&rsaquo;&nbsp;Bread</a>&nbsp;&rsaquo;&nbsp;Members</div>{% endblock %}

{% block content %}
{% load admin_static %}
<link rel="stylesheet" type="text/css" href="{% static '/stregsystem/razzia.css' %}" />

<script src="https://use.fontawesome.com/fd7e4e00a3.js"></script>

<div id="content-main">
	<div class="grouped-vertical">
		<p><a href="../{{razzia.pk}}">Back to razzia</a></p>
		<h2>Registered members at razzia {{ razzia.start_date | date:"D d M Y" }} - {{ razzia.members.all | length }} fember(s)</h2>
		{% for member in razzia.members.all %}
    	<ul>
    		<li>{{ member.firstname }} {{ member.lastname }} ({{ member.username }})</li>
    	</ul>
		{% endfor %}
	</div>
</div>
{% endblock %}
