{% extends "admin/stregsystem/razzia/razzia_search.html" %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../../../">Stregsystem</a>&nbsp;&rsaquo;&nbsp;<a href="../">Brødrazzia</a></div>{% endblock %}

{% block member_present %}
<div class="status">
	<div class="fa {% if already_used %} fa-minus-circle failure {% else %} fa-check-circle sucess {% endif %}" aria-hidden="true"></div>
</div>
{{member.firstname}} {{member.lastname}} ({{member.username}}) {% if already_used %} already checked in at {{ entry.time }} {% endif %}
{% endblock %}
