{% extends "admin/base_site.html" %}

{% block title %}Error when making a wizard!{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../../">Stregsystem</a>&nbsp;&rsaquo;&nbsp;<a href="../">Razzia</a>&nbsp;&rsaquo;&nbsp;Wizard</div>{% endblock %}

{% block content %}
<center>
<div id="headline" style="color: red;"><h3>Et af dine produkt id'er blev var ikke korrekt</h3></div>
</center>
<center>
Hvis du mener at <i>det er for galt</i>, anbefaler F-Klubbens IT, at du venter, indtil nogen gør noget ved problemet.<br />
<br />
Mens du venter kan du eventuelt:<br />
Købe en øl i stregsystemet, lære at skrive Perl, tage et spil tænkeboks, forsøge at glemme det Perl du har lært eller blive Ph.D. studerende.
</center>
{% endblock %}