{% extends "admin/stregsystem/razzia/razzia.html" %}

{% block title %}{{title|default:"Razzia"}}{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../../../">Stregsystem</a>&nbsp;&rsaquo;&nbsp;<a href="../">{{title|default:"Razzia"}}</a><a href=".">&nbsp;&rsaquo;&nbsp;Members</a></div>{% endblock %}

{% block razzia_content %}
	<p><a href="../{{razzia.pk}}">Back to razzia</a></p>
	<h2>Registered members at razzia {{ razzia.start_date | date:"D d M Y" }} - {{ razzia.members.all | length }} fember(s)</h2>
	{% for entry in razzia.razziaentry_set.all %}
	<ul>
		<li>{{ entry.member.firstname }} {{ entry.member.lastname }} ({{ entry.member.username }}) at {{entry.time}}</li>
	</ul>
	{% endfor %}
{% endblock %}
