{% extends "admin/stregsystem/razzia/razzia.html" %}

{% block title %}{{title|default:"Razzia"}}{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../../">Stregsystem</a>&nbsp;&rsaquo;&nbsp;{{title|default:"Razzia"}}</div>{% endblock %}

{% block razzia_content %}
<a href="./new">
			<div class="searcher rounded">
				<div class="titlebar">
					<h1>{{new_text|default:"New razzia"}}</h1>
				</div>
			</div>
		</a>
		{% if razzias %}
			<h2>Previous razzias</h2>
		{% endif %}
		{% for razzia in razzias %}
    	<a href="./{{ razzia.pk }}">
			<div class="searcher top rounded">
				<div class="titlebar">
					<h1>{{ razzia.start_date | date:"D d M Y" }} - {{razzia.members.all | length}} fember(s)</h1>
				</div>
			</div>
		</a>
		{% endfor %}
{% endblock %}
