{% extends "admin/base_site.html" %}

{% block title %}Razzia wizard!{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../../">Hjem</a>&nbsp;&rsaquo;&nbsp;<a href="../../">Stregsystem</a>&nbsp;&rsaquo;&nbsp;<a>Razzia</a>&nbsp;&rsaquo;&nbsp;Wizard</div>{% endblock %}

{% block content %}
{% load admin_static %}
<link rel="stylesheet" type="text/css" href="{% static '/stregsystem/razzia.css' %}" />

<script src="https://use.fontawesome.com/fd7e4e00a3.js"></script>

<div id="content-main">
    <h1>Razzia wizard!</h1>
    <form action="./" method="post" class="content">{% csrf_token %}
        <div>
            <table>
                <tr>
                    <td><b>Title:</b></td>
                    <td><input id="razzia_title" type="text" autofocus name="razzia_title" maxlength="40" value="Razzia!" autocomplete="off" placeholder="Titel" /></td>
                </tr>
                <tr>
                    <td><b>Produkt id's:</b></td>
                    <td><input id="products" type="text" autofocus name="products" value="" autocomplete="off" placeholder="11,12,1840" /></td>
                </tr>
                <tr>
                    <td><b>Start date:</b></td>
                    <td>{{ start_date_picker }}</td>
                </tr>
                <tr>
                    <td><b>End date:</b></td>
                    <td>{{ end_date_picker }}</td>
                </tr>
            </table>
            <input type="submit" class="" value="Create razzia!">
        </div>
    </form>
</div>
{% endblock %}
