#activatefklub-container {
    position: fixed;
    right: 0;
    bottom: 0;
    pointer-events: none;
    font-size: 1em;
    color: rgba(45, 45, 45, 0.5);
    float: right;
    padding: 2em;
    display: none;
}

.activatefklub-shown {
    display: initial !important;
}

#activatefklub-container p {
    padding: 0;
    margin: 0;
}

.activatefklub-header {
    font-size: 1.4em;
    font-weight: 600;
}

@media (prefers-contrast: more) or (prefers-reduced-transparency) {
    .activatefklub-shown {
        display: none !important;
    }
}
